<section id="homeCarousel">
	<div class="relative h-fit overflow-hidden">
		<div id="innerContainer" class="flex" style="width: 400%">
			<div class="w-full h-fit">
				<img src="/img/diklat_teknik_transportasi_darat.jpeg" class="w-full h-full object-cover" />
			</div>
			<div class="w-full h-fit">
				<img src="/img/diklat_teknik_transportasi_ka.jpeg" class="w-full h-full object-cover" />
			</div>
			<div class="w-full h-fit">
				<img
					src="/img/diploma_3_manajemen_transportasi_jalan.jpeg"
					class="w-full h-full object-cover" />
			</div>
			<div class="w-full h-fit">
				<img src="/img/diploma_4_transportasi_darat.jpeg" class="w-full h-full object-cover" />
			</div>
		</div>
	</div>
</section>

<script>
	const innerContainer = document.getElementById("innerContainer");
</script>
