<section id="lecturers">
	<div class="flex flex-col md:px-16">
		<div class="flex gap-2">
			<div class="bg-tertiary w-3"></div>
			<h1 class="font-semibold text-primary">Dosen Kami</h1>
		</div>
		<div class="flex gap-2 py-4 overflow-hidden">
			<div
				class="flex border border-gray-300 max-w-80 max-h-40 rounded-lg shadow-gray-300 shadow-lg hover:border-tertiary">
				<div class="h-full w-2/6">
					<img
						src="/img/lecturers/Agus_Sembodo.jpg"
						alt=""
						class="w-full h-full object-cover rounded-l-lg" />
				</div>
				<div class="w-4/6 py-4 px-2 rounded-r-lg">
					<p class="text-xxs text-end mb-2 font-semibold text-tertiary">Assistant Professor</p>
					<h6 class="font-bold">Agus Sembodo</h6>
					<p class="text-xs font-bold">S.S.T., M.Sc.</p>
					<div class="flex gap-4 items-center text-tertiary">
						<a href="#" class="p-0 text-lg bi bi-telephone"></a>
						<a href="#" class="p-0 text-lg bi bi-envelope"></a>
						<a href="#" class="p-0 text-lg bi bi-person-circle"></a>
					</div>
				</div>
			</div>
			<!-- <a href="#" class="profile-card">
				<div class="left-side">
					<img src="/img/lecturers/pexels-italo-melo-881954-2379004.jpg" alt="Profile Photo" />
				</div>
				<div class="right-side">
					<h3>John Doe</h3>
					<p>Software Developer</p>
					<p>Lecture</p>
				</div>
			</a> -->
			<!-- <a href="#" class="profile-card">
				<div class="left-side">
					<img src="/img/lecturers/images_MmpLGDfH6LaHGa3Z1fRv2.png" alt="Profile Photo" />
				</div>
				<div class="right-side">
					<h3>Mary Ane</h3>
					<p>Architecture</p>
				</div>
			</a>
			<a href="#" class="profile-card">
				<div class="left-side">
					<img src="/img/lecturers/images_1u0doGLgMmUjxVtJpiN3.png" alt="Profile Photo" />
				</div>
				<div class="right-side">
					<h3>Olive Brown</h3>
					<p>Management</p>
				</div>
			</a>
			<a href="#" class="profile-card">
				<div class="left-side">
					<img src="/img/lecturers/images_rEtsplTEyhhipKtdWioi.png" alt="Profile Photo" />
				</div>
				<div class="right-side">
					<h3>Alex Murphy</h3>
					<p>Software Developer</p>
					<p>Economics</p>
				</div>
			</a> -->
		</div>
	</div>
</section>
