<section id="welcome">
  <div class="flex flex-col md:px-16 gap-8">
    <div class="flex gap-2 reveal fade-right">
      <div class="bg-tertiary w-3"></div>
      <div class="flex flex-col">
        <h1 class="text-5xl font-semibold text-primary">Unlock Potential, Ignite Future!</h1>
        <h5 class="text-primary">Learn more about STTD Politeknik Study Programs</h5>
      </div>
    </div>
    <div class="flex flex-col lg:flex-row-reverse justify-between gap-8 reveal fade-up with-delay">
      <div class="mx-auto min-w-96 w-2/5 h-80 relative">
        <img src="/img/front_gate.JPG" class="min-w-60 w-full h-full top-5 right-5 absolute" />
        <div class="bg-tertiary w-full h-full"></div>
      </div>
      <div class="w-full lg:w-3/5 px-4 md:px-0">
        <p class="mb-1">
          Welcome to our Study Programs! Dive into a world of opportunities where innovation meets education. Explore the diverse courses we offer, designed to equip you with the skills and knowledge to excel in your chosen field. Join us on a journey of discovery and growth, and unlock your full potential with our expert faculty and cutting-edge resources. Your future starts here, and we are excited to be a part of your academic journey!
        </p>
        <ul class="list-disc list-inside">
          <li class="text-sm mb-1">Manajemen Transportasi Jalan</li>
          <li class="text-sm mb-1">Manajemen Transportasi Perkeretaapian</li>
          <li class="text-sm mb-1">Sarjana Terapan Manajemen Transportasi Darat</li>
          <li class="text-sm mb-1">Sarjana Terapan Teknologi Rekayasa Otomotif</li>
          <li class="text-sm mb-1">Magister Pemasaran, Inovasi, dan Teknologi</li>
          <li class="text-sm mb-1">Magister Teknik Keselamatan dan Resiko</li>
        </ul>
      </div>
    </div>
    <div class="flex campus-vibe hidden">
      <h1 class="text-gray-700 bi bi-quote"></h1>
      <div class="flex flex-col items-start text-gray-700 pl-4">
        <p class="font-semibold uppercase py-4">
          Education is the most powerful weapon which you can use to change the world.
        </p>
        <p class="text-secondary font-bold">- Nelson Mandela</p>
      </div>
      <h1 class="text-gray-700 bi bi-quote"></h1>
    </div>
  </div>
</section>