<section>
	<div class="flex flex-col w-full gap-16 px-2">
		<div class="flex justify-evenly border-b border-gray-300">
			<h6
				class="nav-btn cursor-pointer w-1/3 py-4 text-center hover-effect bg-tertiary/30 font-semibold">
				INFORMASI DIKLAT
			</h6>
			<h6 class="nav-btn cursor-pointer w-1/3 py-4 text-center hover-effect font-semibold">
				FORM PENDAFTARAN
			</h6>
			<h6 class="nav-btn cursor-pointer w-1/3 py-4 text-center hover-effect font-semibold">
				CEK STATUS PENDAFTARAN
			</h6>
		</div>
		<div id="trainingInfo" class="nav-btn_content flex flex-col w-full gap-16 reveal fade-right">
			<div class="overflow-x-auto">
				<table class="min-w-full">
					<thead>
						<tr>
							<th>Nama Diklat</th>
							<th>Tahun</th>
							<th>Tanggal/Jadwal Pelaksanaan</th>
							<th>Tempat Pelaksanaan</th>
							<th>Biaya</th>
							<th>Status</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>DIKLAT PENYEGARAN PEGAWAI</td>
							<td>2024</td>
							<td>FEBRUARI</td>
							<td>KAMPUS POLITEKNIK TRANSPORTASI DARAT INDONESIA - STTD</td>
							<td class="min-w-40">Rp. 7.150.000,00</td>
							<td><p class="badge success">DIBUKA</p></td>
							<td>
								<p
									class="badge cursor-pointer hover:bg-tertiary/50 hover:text-white bi bi-three-dots"></p>
							</td>
						</tr>
						<tr>
							<td>DIKLAT AWAK SARANA PERKERETAAPIAN PERALATAN KHUSUS</td>
							<td>2024</td>
							<td>NOVEMBER</td>
							<td>KAMPUS POLITEKNIK TRANSPORTASI DARAT INDONESIA - STTD</td>
							<td class="min-w-40">Rp. 12.550.000,00</td>
							<td><p class="badge success">DIBUKA</p></td>
							<td>
								<p
									class="badge cursor-pointer hover:bg-tertiary/50 hover:text-white bi bi-three-dots"></p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div
			id="registration"
			class="nav-btn_content flex flex-col w-full gap-16 hidden reveal fade-right">
			<form class="grid grid-rows grid-cols-1 md:grid-cols-2 w-full" method="POST" id="commentForm">
				<div class="flex flex-col border-0">
					<h1 class="text-secondary font-bold">Profile Pendaftar</h1>
					<hr class="h-2 w-1/4 bg-tertiary" />
				</div>
				<span></span>
				<div>
					<label for="">Nama Lengkap</label>
					<input type="text" placeholder="What is your name?" />
				</div>
				<div>
					<label for="">Nomor KTP</label>
					<input id="nik" name="nik" type="text" placeholder="Nomor KTP" maxlength="16" required />
				</div>
				<div>
					<label for="">Tempat Lahir</label>
					<input type="text" placeholder="What is your name?" />
				</div>
				<div>
					<label for="">Tanggal Lahir</label>
					<input id="nik" name="nik" type="date" placeholder="Nomor KTP" maxlength="16" required />
				</div>
				<div>
					<label for="">Nomor Handphone</label>
					<input type="text" placeholder="What is your name?" />
				</div>
				<div>
					<label for="">Alamat Email</label>
					<input type="text" placeholder="What is your name?" />
				</div>
				<div>
					<label for="">Jenis Kelamin</label>
					<select class="text-xs border-0 text-gray-700" required>
						<option selected="true" disabled="disabled" value="">Pilih Jenis Kelamin</option>
						<option value="L">Laki-Laki</option>
						<option value="P">Perempuan</option>
					</select>
				</div>
				<div>
					<label for="">Pendidikan</label>
					<select class="text-xs border-0 text-gray-700" required>
						<option selected="true" disabled="disabled" value="">Pilih Pendidikan</option>
						<option value="">D III</option>
						<option value="">D IV</option>
						<option value="">S1</option>
						<option value="">S2</option>
						<option value="">S3</option>
					</select>
				</div>
				<div>
					<label for="">Jabatan</label>
					<input type="text" placeholder="What is your name?" />
				</div>
				<div>
					<label for="">Dokumen CV</label>
					<input type="file" />
				</div>

				<div class="flex flex-col border-0">
					<h1 class="text-secondary font-bold">Instansi</h1>
					<hr class="h-2 w-1/4 bg-tertiary" />
				</div>
				<span></span>
				<div>
					<label for="">Nama Diklat</label>
					<select class="text-xs border-0 text-gray-700" required>
						<option selected="true" disabled="disabled" value="">Pilih Diklat</option>
						<option value="SM.111-057">DIKLAT PENYEGARAN PEGAWAI</option>
						<option value="SM.111-056">DIKLAT AWAK SARANA PERKERETAAPIAN PERALATAN KHUSUS</option>
						<option value="SM.111-055">DIKLAT PEMERIKSAAN SARANA PERKERETAAPIAN</option>
						<option value="SM.111-054">DIKLAT ORIENTASI PRASARANA PERKERETAAPIAN</option>
						<option value="SM.111-053">DIKLAT ORIENTASI FASILITAS OPERASI PERKERETAAPIAN</option>
						<option value="SM.111-052">DIKLAT AWAK SARANA PERKERETAAPIAN OTOMATIS (ASP)</option>
						<option value="SM.111-051">DIKLAT PERAWATAN SARANA PERKERETAAPIAN</option>
						<option value="SM.111-050">DIKLAT DASAR SARANA PERKERETAAPIAN</option>
						<option value="SM.111-049">DIKLAT PEMERIKSA JALUR DAN BANGUNAN KERETA API</option>
						<option value="SM.111-048">DIKLAT PERAWAT JALUR DAN BANGUNAN KERETA API</option>
						<option value="SM.111-47">DIKLAT PEMERIKSA FASILITAS OPERASI PERKERETAAPIAN</option>
						<option value="SM.111-45">DIKLAT TEKNIS TRANSPORTASI DARAT</option>
						<option value="SM.111-44">DIKLAT MANAJEMEN DAN REKAYASA LALU LINTAS</option>
						<option value="SM.111-43">DIKLAT PETUGAS SISTEM INFORMASI TERMINAL PENUMPANG</option>
						<option value="SM.111-42">
							DIKLAT SERTIFIKASI PENGEMUDI ANGKUTAN BARANG UMUM, AKAP, PARIWISATA, DAN ANGKUTAN
							BARANG KHUSUS
						</option>
						<option value="SM.111-41">DIKLAT PENGUJI KENDARAAN BERMOTOR LANJUTAN 1</option>
						<option value="SM.111-40">DIKLAT PENGUJIAN KENDARAAN BERMOTOR DASAR</option>
						<option value="SM.111-39">DIKLAT PETUGAS PENGATUR LALU LINTAS TERMINAL</option>
						<option value="SM.111-46">DIKLAT PERAWAT FASILITAS OPERASI PERKERETAAPIAN</option>
						<option value="SM.111-038">DIKLAT PETUGAS PENGATUR LALU LINTAS JALAN</option>
						<option value="SM.111-035">DIKLAT PENGUJIAN PERKERETAAPIAN TANPA PENGGERAK</option>
						<option value="SM.111-034">DIKLAT PENYUSUN GRAFIK PERJALANAN KERETA API</option>
						<option value="SM.111-033">
							DIKLAT PENGUJIAN SARANA PERKERETAAPIAN BERPENGGERAK LISTRIK
						</option>
						<option value="SM.111-032">
							DIKLAT PENGUJIAN SARANA PERKERETAAPIAN BERPENGGERAK NONLISTRIK
						</option>
						<option value="SM.111-031">
							DIKLAT DASAR SARANA PERKERETAAPIAN BERPENGGERAK NONLISTRIK
						</option>
						<option value="SM.111-030">DIKLAT PENGUJI FASILITAS OPERASI KERETA API</option>
						<option value="SM.111-029">DIKLAT DASAR FASILITAS OPERASI KERETA API</option>
						<option value="SM.111-028">DIKLAT PENGUJI JALUR DAN BANGUNAN KERETA API</option>
						<option value="SM.111-027">DIKLAT DASAR JALUR DAN BANGUNAN KERETA API</option>
						<option value="SM.111-026">DIKLAT ORIENTASI KERETA API</option>
						<option value="SM.111-025">DIKLAT PEMBEKALAN TRANSPORTASI KEPALA BIDANG</option>
						<option value="SM.111-024">DIKLAT PEMBEKALAN TRANSPORTASI KEPALA DINAS</option>
						<option value="SM.111-023">DIKLAT ORIENTASI LALU LINTAS ANGKUTAN JALAN</option>
						<option value="SM.111-022">DIKLAT PENGHITUNGAN TARIF ANGKUTAN UMUM</option>
						<option value="SM.111-021">DIKLAT SISTEM MANAJEMEN KESELAMATAN ANGKUTAN UMUM</option>
						<option value="SM.111-020">
							DIKLAT PENANGANAN KECELAKAAN ANGKUTAN BARANG BERBAHAYA (SPILL HANDLING K3)
						</option>
						<option value="SM.111-019">DIKLAT PENGEMUDI ANGKUTAN BARANG BERBAHAYA</option>
						<option value="SM.111-018">
							DIKLAT PENGELOLAAN ANGKUTAN BARANG BERACUN &amp; BERBAHAYA
						</option>
						<option value="SM.111-017">DIKLAT PENGEMUDI ANGKUTAN BARANG</option>
						<option value="SM.111-016">DIKLAT PENGELOLAAN ANGKUTAN BARANG</option>
						<option value="SM.111-015">DIKLAT PENGEMUDI ANGKUTAN UMUM</option>
						<option value="SM.111-014">DIKLAT PENGELOLA TERMINAL</option>
						<option value="SM.111-013">DIKLAT PENGELOLAAN ANGKUTAN UMUM</option>
						<option value="SM.111-012">DIKLAT MANAJER ANGKUTAN UMUM</option>
						<option value="SM.111-011">DIKLAT SUPERVISI ANGKUTAN</option>
						<option value="SM.111-010">DIKLAT PENGATURAN OPERASIONAL ARMADA BUS</option>
						<option value="SM.111-09">DIKLAT TEKNIK PEMBUATAN RAMBU LALU LINTAS</option>
						<option value="SM.111-08">DIKLAT PENGELOLA ALAT PEMBERI ISYARAT LALU LINTAS</option>
						<option value="SM.111-07">DIKLAT PENGELOLA PARKIR</option>
						<option value="SM.111-06">DIKLAT SURVEYOR ANGKUTAN UMUM</option>
						<option value="SM.111-05">DIKLAT SURVEYOR LALU LINTAS</option>
						<option value="SM.111-04">DIKLAT TROUBLE SHOOTING TRAFFIC LIGHT</option>
						<option value="SM.111-03">DIKLAT TEKNIS PEMBUATAN MARKA JALAN</option>
						<option value="SM.111-01">DIKLAT PENYUSUN ANALISIS DAMPAK LALU LINTAS</option>
						<option value="SM.111-02">DIKLAT PENILAIAN ANALISIS DAMPAK LALU LINTAS</option>
					</select>
				</div>
				<div>
					<label for="">Nama Instansi</label>
					<input type="text" placeholder="What is your name?" />
				</div>
				<div>
					<label for="">Jenis Instansi</label>
					<select class="text-xs border-0 text-gray-700" required>
						<option value="" selected="selected">-- pilih jenis instansi --</option>
						<option value="Kementerian / Lembaga">Kementerian / Lembaga</option>
						<option value="Lembaga Pemerintah Non Kementerian">
							Lembaga Pemerintah Non Kementerian
						</option>
						<option value="Lembaga Non Struktural">Lembaga Non Struktural</option>
						<option value="Perguruan Tinggi">Perguruan Tinggi</option>
						<option value="BUMN / BUMD">BUMN / BUMD</option>
						<option value="Pemerintah Provinsi">Pemerintah Provinsi</option>
						<option value="Pemerintah Kabupaten / Kota">Pemerintah Kabupaten / Kota</option>
						<option value="Swasta">Swasta</option>
					</select>
				</div>
				<div>
					<label for="">Provinsi Instansi</label>
					<select class="text-xs border-0 text-gray-700" required>
						<option value="ACEH">ACEH</option>
						<option value="SUMATERA UTARA">SUMATERA UTARA</option>
						<option value="SUMATERA BARAT">SUMATERA BARAT</option>
						<option value="RIAU">RIAU</option>
						<option value="JAMBI">JAMBI</option>
						<option value="SUMATERA SELATAN">SUMATERA SELATAN</option>
						<option value="BENGKULU">BENGKULU</option>
						<option value="LAMPUNG">LAMPUNG</option>
						<option value="KEPULAUAN BANGKA BELITUNG">KEPULAUAN BANGKA BELITUNG</option>
						<option value="KEPULAUAN RIAU">KEPULAUAN RIAU</option>
						<option value="DKI JAKARTA">DKI JAKARTA</option>
						<option value="JAWA BARAT">JAWA BARAT</option>
						<option value="JAWA TENGAH">JAWA TENGAH</option>
						<option value="DI YOGYAKARTA">DI YOGYAKARTA</option>
						<option value="JAWA TIMUR">JAWA TIMUR</option>
						<option value="BANTEN">BANTEN</option>
						<option value="BALI">BALI</option>
						<option value="NUSA TENGGARA BARAT">NUSA TENGGARA BARAT</option>
						<option value="NUSA TENGGARA TIMUR">NUSA TENGGARA TIMUR</option>
						<option value="KALIMANTAN BARAT">KALIMANTAN BARAT</option>
						<option value="KALIMANTAN TENGAH">KALIMANTAN TENGAH</option>
						<option value="KALIMANTAN SELATAN">KALIMANTAN SELATAN</option>
						<option value="KALIMANTAN TIMUR">KALIMANTAN TIMUR</option>
						<option value="KALIMANTAN UTARA">KALIMANTAN UTARA</option>
						<option value="SULAWESI UTARA">SULAWESI UTARA</option>
						<option value="SULAWESI TENGAH">SULAWESI TENGAH</option>
						<option value="SULAWESI SELATAN">SULAWESI SELATAN</option>
						<option value="SULAWESI TENGGARA">SULAWESI TENGGARA</option>
						<option value="GORONTALO">GORONTALO</option>
						<option value="SULAWESI BARAT">SULAWESI BARAT</option>
						<option value="MALUKU">MALUKU</option>
						<option value="MALUKU UTARA">MALUKU UTARA</option>
						<option value="PAPUA BARAT">PAPUA BARAT</option>
						<option value="PAPUA">PAPUA</option>
					</select>
				</div>
				<div>
					<label for="">Kodepos</label>
					<input type="text" placeholder="What is your name?" />
				</div>
				<span class="hidden md:flex"></span>
				<div>
					<label for="">Alamat Instansi</label>
					<textarea placeholder="Write your complaint here..."></textarea>
				</div>
				<span class="hidden md:flex"></span>
				<button class="btn success w-full md:w-fit" type="submit">Daftar Sekarang</button>
			</form>
		</div>
		<div
			id="checkRegistration"
			class="nav-btn_content flex flex-col items-center w-full gap-16 hidden reveal fade-right">
			<form class="flex flex-col w-full md:w-1/3" method="POST" id="checkRegistrationForm">
				<div class="flex flex-col gap-2 border-0 font-semibold">
					<p class="text-red-700">
						Lakukan pengecekan secara bertahap terkait permohonan yang telah diajukan.
					</p>
					<p class="text-red-700">
						Pastikan NIK yang digunakan telah sesuai dengan data yang diajukan.
					</p>
				</div>
				<div>
					<label for="">Nama Diklat</label>
					<select class="text-xs border-0 text-gray-700" required>
						<option selected="true" disabled="disabled" value="">Pilih Diklat</option>
						<option value="SM.111-057">DIKLAT PENYEGARAN PEGAWAI</option>
						<option value="SM.111-056">DIKLAT AWAK SARANA PERKERETAAPIAN PERALATAN KHUSUS</option>
						<option value="SM.111-055">DIKLAT PEMERIKSAAN SARANA PERKERETAAPIAN</option>
						<option value="SM.111-054">DIKLAT ORIENTASI PRASARANA PERKERETAAPIAN</option>
						<option value="SM.111-053">DIKLAT ORIENTASI FASILITAS OPERASI PERKERETAAPIAN</option>
						<option value="SM.111-052">DIKLAT AWAK SARANA PERKERETAAPIAN OTOMATIS (ASP)</option>
						<option value="SM.111-051">DIKLAT PERAWATAN SARANA PERKERETAAPIAN</option>
						<option value="SM.111-050">DIKLAT DASAR SARANA PERKERETAAPIAN</option>
						<option value="SM.111-049">DIKLAT PEMERIKSA JALUR DAN BANGUNAN KERETA API</option>
						<option value="SM.111-048">DIKLAT PERAWAT JALUR DAN BANGUNAN KERETA API</option>
						<option value="SM.111-47">DIKLAT PEMERIKSA FASILITAS OPERASI PERKERETAAPIAN</option>
						<option value="SM.111-45">DIKLAT TEKNIS TRANSPORTASI DARAT</option>
						<option value="SM.111-44">DIKLAT MANAJEMEN DAN REKAYASA LALU LINTAS</option>
						<option value="SM.111-43">DIKLAT PETUGAS SISTEM INFORMASI TERMINAL PENUMPANG</option>
						<option value="SM.111-42">
							DIKLAT SERTIFIKASI PENGEMUDI ANGKUTAN BARANG UMUM, AKAP, PARIWISATA, DAN ANGKUTAN
							BARANG KHUSUS
						</option>
						<option value="SM.111-41">DIKLAT PENGUJI KENDARAAN BERMOTOR LANJUTAN 1</option>
						<option value="SM.111-40">DIKLAT PENGUJIAN KENDARAAN BERMOTOR DASAR</option>
						<option value="SM.111-39">DIKLAT PETUGAS PENGATUR LALU LINTAS TERMINAL</option>
						<option value="SM.111-46">DIKLAT PERAWAT FASILITAS OPERASI PERKERETAAPIAN</option>
						<option value="SM.111-038">DIKLAT PETUGAS PENGATUR LALU LINTAS JALAN</option>
						<option value="SM.111-035">DIKLAT PENGUJIAN PERKERETAAPIAN TANPA PENGGERAK</option>
						<option value="SM.111-034">DIKLAT PENYUSUN GRAFIK PERJALANAN KERETA API</option>
						<option value="SM.111-033">
							DIKLAT PENGUJIAN SARANA PERKERETAAPIAN BERPENGGERAK LISTRIK
						</option>
						<option value="SM.111-032">
							DIKLAT PENGUJIAN SARANA PERKERETAAPIAN BERPENGGERAK NONLISTRIK
						</option>
						<option value="SM.111-031">
							DIKLAT DASAR SARANA PERKERETAAPIAN BERPENGGERAK NONLISTRIK
						</option>
						<option value="SM.111-030">DIKLAT PENGUJI FASILITAS OPERASI KERETA API</option>
						<option value="SM.111-029">DIKLAT DASAR FASILITAS OPERASI KERETA API</option>
						<option value="SM.111-028">DIKLAT PENGUJI JALUR DAN BANGUNAN KERETA API</option>
						<option value="SM.111-027">DIKLAT DASAR JALUR DAN BANGUNAN KERETA API</option>
						<option value="SM.111-026">DIKLAT ORIENTASI KERETA API</option>
						<option value="SM.111-025">DIKLAT PEMBEKALAN TRANSPORTASI KEPALA BIDANG</option>
						<option value="SM.111-024">DIKLAT PEMBEKALAN TRANSPORTASI KEPALA DINAS</option>
						<option value="SM.111-023">DIKLAT ORIENTASI LALU LINTAS ANGKUTAN JALAN</option>
						<option value="SM.111-022">DIKLAT PENGHITUNGAN TARIF ANGKUTAN UMUM</option>
						<option value="SM.111-021">DIKLAT SISTEM MANAJEMEN KESELAMATAN ANGKUTAN UMUM</option>
						<option value="SM.111-020">
							DIKLAT PENANGANAN KECELAKAAN ANGKUTAN BARANG BERBAHAYA (SPILL HANDLING K3)
						</option>
						<option value="SM.111-019">DIKLAT PENGEMUDI ANGKUTAN BARANG BERBAHAYA</option>
						<option value="SM.111-018">
							DIKLAT PENGELOLAAN ANGKUTAN BARANG BERACUN &amp; BERBAHAYA
						</option>
						<option value="SM.111-017">DIKLAT PENGEMUDI ANGKUTAN BARANG</option>
						<option value="SM.111-016">DIKLAT PENGELOLAAN ANGKUTAN BARANG</option>
						<option value="SM.111-015">DIKLAT PENGEMUDI ANGKUTAN UMUM</option>
						<option value="SM.111-014">DIKLAT PENGELOLA TERMINAL</option>
						<option value="SM.111-013">DIKLAT PENGELOLAAN ANGKUTAN UMUM</option>
						<option value="SM.111-012">DIKLAT MANAJER ANGKUTAN UMUM</option>
						<option value="SM.111-011">DIKLAT SUPERVISI ANGKUTAN</option>
						<option value="SM.111-010">DIKLAT PENGATURAN OPERASIONAL ARMADA BUS</option>
						<option value="SM.111-09">DIKLAT TEKNIK PEMBUATAN RAMBU LALU LINTAS</option>
						<option value="SM.111-08">DIKLAT PENGELOLA ALAT PEMBERI ISYARAT LALU LINTAS</option>
						<option value="SM.111-07">DIKLAT PENGELOLA PARKIR</option>
						<option value="SM.111-06">DIKLAT SURVEYOR ANGKUTAN UMUM</option>
						<option value="SM.111-05">DIKLAT SURVEYOR LALU LINTAS</option>
						<option value="SM.111-04">DIKLAT TROUBLE SHOOTING TRAFFIC LIGHT</option>
						<option value="SM.111-03">DIKLAT TEKNIS PEMBUATAN MARKA JALAN</option>
						<option value="SM.111-01">DIKLAT PENYUSUN ANALISIS DAMPAK LALU LINTAS</option>
						<option value="SM.111-02">DIKLAT PENILAIAN ANALISIS DAMPAK LALU LINTAS</option>
					</select>
				</div>
				<div>
					<label for="">Nomor KTP</label>
					<input id="nik" name="nik" type="text" placeholder="Nomor KTP" maxlength="16" required />
				</div>
				<button class="btn success w-full" type="submit">Cek Status</button>
			</form>
		</div>
	</div>
</section>

<!-- Modal -->
<div
	id="modal"
	class="fixed z-50 inset-0 hidden bg-gray-900 bg-opacity-75 flex items-center justify-center py-8">
	<div class="bg-white rounded-lg shadow-lg p-6 mx-40 w-full max-h-full overflow-y-scroll">
		<div class="flex justify-between">
			<h2 class="text-xl font-bold mb-4">SM.111-057 - DIKLAT PENYEGARAN PEGAWAI</h2>
			<i class="close-modal cursor-pointer bi-x p-2 rounded hover:bg-gray-500"></i>
		</div>
		<div id="modal-content" class="flex flex-col gap-4">
			<div class="flex flex-col gap-4">
				<div class="flex gap-2">
					<div class="bg-tertiary w-1"></div>
					<div class="flex flex-col">
						<h4 class="font-bold text-primary">Silabus</h4>
					</div>
				</div>
				<div class="flex flex-col border border-gray-300 p-4 rounded gap-4">
					<p class="font-bold">LAMA DIKLAT</p>
					<p>4 Hari / 30 JP</p>
					<p>
						Diklat Badan Layanan Umum (BLU) Biaya Diklat dibebankan kepada Instansi Pengirim / para
						peserta diklat, sesuai dengan Peraturan Menteri Keuangan RI Nomor : 136/PMK.05/2017
						Tentang Tarif Layanan Badan Layanan Umum Sekolah Tinggi Transportasi Darat pada
						Kementerian Perhubungan. Biaya sudah termasuk perlengkapan Diklat, akomodasi dan
						permakanan selama Diklat kecuali protokol kesehatan dan test COVID-19. Pembayaran
						dilakukan melalui Transfer ke
					</p>
					<p>
						Bank Mandiri dengan Nomor Rekening : 156-00-3444444-0<br />Atas Nama : RPL. 171 BLU STTD
						<br />Bukti Pembayaran dibawa pada saat pelaksanaan Diklat.
					</p>
				</div>
			</div>
			<div class="flex flex-col gap-4">
				<div class="flex gap-2">
					<div class="bg-tertiary w-1"></div>
					<div class="flex flex-col">
						<h4 class="font-bold text-primary">Ketentuan Peserta</h4>
					</div>
				</div>
				<div class="flex flex-col border border-gray-300 p-4 rounded gap-4">
					<p class="font-bold">KAPASITAS PESERTA</p>
					<p>
						24 Orang / Angkatan<br />
						Jumlah minimal peserta 15 orang
					</p>
					<p class="font-bold">TARIF</p>
					<p>
						Biaya Pendaftaran Sebesar Rp 150.000,-<br />
						Biaya Kontribusi Diklat Sebesar Rp 7.000.000,- Rp 10.500.000
					</p>
					<p class="font-bold">DASAR TARIF</p>
					<p>
						Peraturan Menteri Keuangan Republik Indonesia Nomor : 136/PMK.05/2017 Tentang Tarif
						Layanan Badan Layanan Umum Sekolah Tinggi Transportasi Darat pada Kementerian
						Perhubungan
					</p>
				</div>
			</div>
			<div class="flex flex-col gap-4">
				<div class="flex gap-2">
					<div class="bg-tertiary w-1"></div>
					<div class="flex flex-col">
						<h4 class="font-bold text-primary">Keterangan Lain</h4>
					</div>
				</div>
				<div class="flex flex-col border border-gray-300 p-4 rounded gap-4">
					<p class="font-bold">PERSYARATAN</p>
					<ol class="text-sm">
						<li>ASN/Non ASN</li>
						<li>
							Sehat jasmani dan rohani serta tidak buta warna dibuktikan dengan surat keterangan
							dokter
						</li>
						<li>Surat rekomendasi dari pimpinan instansi asal pengirim</li>
						<li>Fotocopy kartu BPJS atau asuransi lain yang berlaku</li>
					</ol>
				</div>
			</div>
		</div>
		<button class="mt-6 bg-blue-500 text-white px-4 py-2 rounded close-modal">Close</button>
	</div>
</div>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		function reveal() {
			var reveals = document.querySelectorAll(".reveal");

			for (var i = 0; i < reveals.length; i++) {
				var windowHeight = window.innerHeight;
				var elementTop = reveals[i].getBoundingClientRect().top;
				var elementVisible = 150;

				if (elementTop < windowHeight - elementVisible) {
					reveals[i].classList.add("active");
				} /* else {
			reveals[i].classList.remove("active");
		} */
			}
		}

		window.addEventListener("scroll", reveal);
	});

	const navBtn = document.querySelectorAll(".nav-btn ");
	navBtn.forEach((btn, index) => {
		btn.addEventListener("mouseup", () => {
			const targetContent = document.querySelectorAll(".nav-btn_content");

			targetContent.forEach((content, idx) => {
				if (index == idx) {
					content.classList.remove("hidden");
				} else {
					content.classList.add("hidden");
				}
			});

			navBtn.forEach((btn, idx) => {
				if (index == idx) {
					btn.classList.add("bg-tertiary/30");
				} else {
					btn.classList.remove("bg-tertiary/30");
				}
			});
		});
	});

	function enforceNumberInput() {
		this.value = this.value.replace(/[^0-9]/g, "");
	}

	function enforceNumberInputOnCopyPaste(e) {
		e.preventDefault();
		let pastedText = (e.clipboardData || window.clipboardData).getData("text");
		this.value = pastedText.replace(/[^0-9]/g, "");
	}

	const nik = document.getElementById("nik");
	nik.addEventListener("input", enforceNumberInput);
	nik.addEventListener("paste", enforceNumberInputOnCopyPaste);

	function openModal(index) {
		// Set modal content based on the clicked row
		// document.getElementById("modal-content").innerText = "You clicked: " + index;

		// Show the modal
		document.getElementById("modal").classList.remove("hidden");
	}

	const rows = document.querySelectorAll(".bi-three-dots");
	rows.forEach((row, index) => {
		row.addEventListener("mouseup", () => openModal(index));
	});

	const closeModalButton = document.querySelectorAll(".close-modal");
	closeModalButton.forEach((closeButton) => {
		closeButton.addEventListener("mouseup", closeModal);
	});

	function closeModal() {
		document.getElementById("modal").classList.add("hidden");
	}
</script>
