<!DOCTYPE html>
<html lang="en">
	<%- include('../../commonSection/header') %>

	<body>
		<%- include('../../commonSection/navbar') %>

		<div class="flex w-full mt-16">
			<%- include('../../commonSection/drawer') %>
			<div class="flex justify-between grow p-4 gap-8 overflow-auto">
				<!-- container ini untuk layout dengan > 1 kolom -->
				<div class="layout-card">
					<div class="layout-card__header">
						<div class="flex justify-between border-b-0">
							<h1 class="title">Attendance Report</h1>
							<a href="/member/generate-report-attendance" download>Generate Report</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
