<!DOCTYPE html>
<html lang="en">
	<%- include('../../commonSection/header') %>

	<body class="admin">
		<%- include('../../commonSection/navbar') %>

		<div class="admin-container">
			<%- include('../../commonSection/drawer') %>

			<div class="flex justify-between grow gap-8 overflow-auto">
				<div class="layout-card mb-12">
					<%- include('../../commonSection/LayoutHeader') %>

					<div class="container-card mb-4">
						<table class="overflow-x-scroll editable table-auto">
							<thead>
								<tr>
									<th class="title">Periods</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<a href="/member/generate-report-attendance" download class="m-0 p-0 h-fit hover:underline hover:font-semibold hover:text-tertiary">Oktober, 2024</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="/member/generate-report-attendance" download class="m-0 p-0 h-fit hover:underline hover:font-semibold hover:text-tertiary">September, 2024</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
