<div class="flex flex-col gap-8">
	<div class="flex gap-2">
		<div class="bg-tertiary w-3"></div>
		<h1 class="font-bold text-primary">Image Gallery Section Header</h1>
	</div>

	<div class="grid grid-rows grid-cols-1 md:grid-cols-3 gap-2">
		<div class="hover-box">
			<img src="https://picsum.photos/id/31/600/400" alt="" class="w-full h-full object-cover" />
			<div class="absolute w-full text-white bottom-8 px-4">
				<h1 class="bi bi-zoom-in text-center text-6xl w-full"></h1>
			</div>
			<span></span>
		</div>
		<div class="hover-box">
			<img src="https://picsum.photos/id/32/600/400" alt="" class="w-full h-full object-cover" />
			<div class="absolute w-full text-white bottom-8 px-4">
				<h1 class="bi bi-zoom-in text-center text-6xl w-full"></h1>
			</div>
			<span></span>
		</div>
		<div class="hover-box">
			<img src="https://picsum.photos/id/33/600/400" alt="" class="w-full h-full object-cover" />
			<div class="absolute w-full text-white bottom-8 px-4">
				<h1 class="bi bi-zoom-in text-center text-6xl w-full"></h1>
			</div>
			<span></span>
		</div>
	</div>
</div>
<!-- The Modal -->
<div id="myModal" class="modal">
	<span class="close">&times;</span>
	<img class="modal-content" id="img01" />
	<!-- <div id="caption"></div> -->
</div>
<script>
	document.addEventListener("DOMContentLoaded", () => {
		// Get the modal
		var modal = document.getElementById("myModal");

		// Get the image and insert it inside the modal - use its "alt" text as a caption
		var modalImg = document.getElementById("img01");
		var captionText = document.getElementById("caption");

		document.querySelectorAll(".hover-box").forEach(function (img) {
			img.addEventListener("click", function () {
				modal.style.display = "block";

				const clickedElement = event.target;
				const targetImage = clickedElement.closest(".hover-box").querySelector("img");

				modalImg.src = targetImage.src.replace("hover-box", "large"); // Assuming you have large versions with a naming convention
				// captionText.innerHTML = this.alt;
			});
		});

		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("close")[0];

		// When the user clicks on <span> (x), close the modal
		span.onclick = function () {
			modal.style.display = "none";
		};
	});
</script>
