<section id="welcome">
	<div class="flex flex-col gap-8">
		<div class="flex gap-2">
			<div class="bg-tertiary w-3"></div>
			<div class="flex flex-col">
				<h1 class="placeholder-input font-bold text-primary">
					<%
					if (existingSectionData.heading) {
					%>
						<%=existingSectionData.heading%>
					<%
					} else {
					%>
						Placeholder Section Heading - Simple Basic
					<%
					}
					%>
				</h1>
				<h6 class="placeholder-input text-primary">
					<%
					if (existingSectionData.subheading) {
					%>
						<%=existingSectionData.subheading%>
					<%
					} else {
					%>
					Placeholder Section SubHeading
					<%
					}
					%>
				</h6>
			</div>
		</div>
		<div class="flex flex-row justify-between gap-8">
			<div class="mx-auto min-w-80 min-h-80 w-2/5 h-80 relative">
				<div class="image-container-third">
					<img
						id="imagePlaceholder"
						src="<%= existingSectionData.imageUrl ? existingSectionData.imageUrl : 'https://picsum.photos/seed/picsum/800' %>"
						class="w-full h-full shadow-2xl shadow-secondary/30 drop-shadow-2xl object-cover" />
				</div>
			</div>
			<p id="contentPlaceholder" class="w-3/5 px-0">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
				been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
				galley of type and scrambled it to make a type specimen book. It has survived not only five
				centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
				It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
				passages, and more recently with desktop publishing software like Aldus PageMaker including
				versions of Lorem Ipsum.
			</p>
		</div>
	</div>
</section>
