<!DOCTYPE html>
<html lang="en">
<%- include('../sections/head') %>

<body>
  <%- include('../sections/navbar') %>

  <div class="max-w-screen-2xl mx-auto">
    <div class="page-header w-full mt-20">
      <div class="w-full h-[30rem] relative">
        <img src="/img/facilities/asrama-1.JPG" alt="" class="w-full h-full object-cover" />
        <h1 class="font-bold text-secondary text-6xl px-12 w-full absolute bottom-3/4 z-20">Facilities</h1>
        <div class="bg-tertiary absolute size-28 bottom-2/3 z-10"></div>
      </div>
      <div class="flex justify-evenly gap-10 px-4 relative bottom-36">
        <div class="w-1/3 h-60 border-4 border-white relative">
          <img src="/img/facilities/modern-building.JPG" class="w-full h-full object-cover" alt="" />
          <h5 class="font-semibold text-white absolute w-full backdrop-blur-sm bottom-0 h-1/4 pt-2 pl-2 bg-secondary/15">Modern Facilities</h5>
        </div>
        <div class="w-1/3 h-60 border-4 border-white relative">
          <img src="/img/facilities/sports-hall.jpg" class="w-full h-full object-cover" alt="" />
          <h5 class="font-semibold text-white absolute w-full backdrop-blur-sm bottom-0 h-1/4 pt-2 pl-2 bg-secondary/15">Sport Hall</h5>
        </div>
        <div class="w-1/3 h-60 border-4 border-white relative">
          <img src="/img/facilities/modern-lab.JPG" class="w-full h-full object-cover" alt="" />
          <h5 class="font-semibold text-white absolute w-full backdrop-blur-sm bottom-0 h-1/4 pt-2 pl-2 bg-secondary/15">Modern Laboratories</h5>
        </div>
      </div>
    </div>

    <div class="bg-secondary/50 py-20 px-40">
      <h1 class="text-white text-center mb-12">Welcome to Politeknik Transportasi Darat Indonesia</h1>
      <div class="grid grid-rows grid-cols-2">
        <div class="hover-box">
          <img src="/img/facilities/facility-1-dorm.JPG" alt="" class="w-full h-full object-cover">
          <div class="absolute w-full text-white bottom-8 px-4">
            <h3 class="font-semibold">Dormitory</h3>
            <p>Comfortable and Convenient On-Campus Dormitories</p>
          </div>
          <a href="#" class="hover:bg-tertiary hover:text-white">LEARN MORE</a>
          <span></span>
        </div>
        <div class="hover-box">
          <img src="/img/facilities/facility-2-labs.JPG" alt="" class="w-full h-full object-cover">
          <div class="absolute w-full text-white bottom-8 px-4">
            <h3 class="font-semibold">Modern Labs</h3>
            <p>State-of-the-Art Laboratories for Hands-On Learning</p>
          </div>
          <a href="#" class="hover:bg-tertiary hover:text-white">LEARN MORE</a>
          <span></span>
        </div>
        <div class="hover-box">
          <img src="/img/facilities/facility-polyclinic.jpeg" alt="" class="w-full h-full object-cover">
          <div class="absolute w-full text-white bottom-8 px-4">
            <h3 class="font-semibold">Policlinic</h3>
            <p>Comprehensive On-Campus Polyclinic Services</p>
          </div>
          <a href="#" class="hover:bg-tertiary hover:text-white">LEARN MORE</a>
          <span></span>
        </div>
        <div class="hover-box">
          <img src="/img/facilities/facility-workshop.jpg" alt="" class="w-full h-full object-cover">
          <div class="absolute w-full text-white bottom-8 px-4">
            <h3 class="font-semibold">Workshop</h3>
            <p>Fully Equipped Workshops for Practical Training</p>
          </div>
          <a href="#" class="hover:bg-tertiary hover:text-white">LEARN MORE</a>
          <span></span>
        </div>
		<div class="hover-box">
			<img src="/img/facilities/facility-auditorium-giri.jpg" alt="" class="w-full h-full object-cover">
			<div class="absolute w-full text-white bottom-8 px-4">
			  <h3 class="font-semibold">Giri S. Hadihardjono Auditorium Hall</h3>
			  <p>Grand Event Space: Giri S. Hadihardjono Auditorium Hall</p>
			</div>
			<a href="#" class="hover:bg-tertiary hover:text-white">LEARN MORE</a>
			<span></span>
		  </div>
		  <div class="hover-box">
			<img src="/img/facilities/facility-herjan-rectorate.jpg" alt="" class="w-full h-full object-cover">
			<div class="absolute w-full text-white bottom-8 px-4">
			  <h3 class="font-semibold">Herjan Kenasin Rectorate Building</h3>
			  <p>Administrative Hub: Herjan Kenasin Rectorate Building</p>
			</div>
			<a href="#" class="hover:bg-tertiary hover:text-white">LEARN MORE</a>
			<span></span>
		  </div>
      </div>
      </div>
    </div>

    <%- include('../sections/footer') %> <%- include('../components/chatWidget') %>
  </div>
</body>

<script src="/js/navbarUtils.js"></script>
<script src="/js/lecturerUtils.js"></script>

</html>