<!DOCTYPE html>
<html lang="en">
	<%- include('../header') %>

	<body>
		<div class="login-container">
			<form class="myform" id="loginForm" action="/users/sign-in" method="POST">
				<div class="login-box border-b-0">
					<div class="img-container">
						<img src="/img/logo-removebg-preview.png" />
						<h6 class="text-tertiary font-semibold">Reset Password</h6>
						<p class="font-semibold text-secondary text-center">Please enter the username / email address you use to sign in!</p>
					</div>
					<div class="input-group__icon">
						<input
							id="inputUserName"
							type="email"
							placeholder="Username / Email address"
							name="userName"
							maxlength="20"
							required />
					</div>
					<button id="buttonLogin" type="submit" class="btn success w-full">Request Reset Password</button>
					<a href="/users/login">Back to Login Page</a>
				</div>
			</form>
		</div>
	</body>
</html>
