<!DOCTYPE html>
<html lang="en">
	<%- include('../commonSection/header') %>

	<body>
		<div class="login-container">
			<form class="myform" id="resetPasswordForm" action="/users/forgot-password" method="POST">
				<div class="login-box border-b-0">
					<div class="img-container">
						<img src="/img/logo-removebg-preview.png" />
						<h6 class="text-tertiary font-semibold">Request Reset Password</h6>
						<p class="font-semibold text-secondary text-center">
							Please enter the username you use to sign in!
						</p>
					</div>
					<% if (alertMessage) { %>
					<p class="alert-badge <%=alertMessage.className%>"><%= alertMessage.message %></p>
					<% } %>
					<div class="input-group__icon">
						<input
							id="inputUserName"
							type="text"
							placeholder="Username"
							name="userName"
							maxlength="20"
							required />
					</div>
					<button id="resetPasswordButton" type="submit" class="btn success w-full">
						<p>Request Reset Password</p>
					</button>
					<a href="/users/login">Back to Login Page</a>
				</div>
			</form>
		</div>
	</body>
	<script src="/js/CommonUtils.js"></script>
	<script src="/js/login-page/index.js"></script>
</html>
