<nav id="drawerAdmin" class="drawer-admin">
	<div class="drawer-admin__container">
		
		<%
		cmsMenuList.forEach((cmsMenu) => {
		%>
			<div class="drawer-menu__container">
				<p class="group-menu_label"><%=cmsMenu.group%></p>
				<hr class="hidden" />
				<%
				cmsMenu.menus.forEach((item) => {
				%>		
				<a href="<%=item.menu_url%>" class="drawer-menu group">
					<i class="<%=item.menu_icon%> remix secondary icon-md group-hover:bg-white"></i>
					<h6 class="menu-label group-hover:text-white"><%=item.menu%></h6>
				</a>
				<%
				});
				%>
			</div>
		<%
		});
		%>
	</div>
</nav>
<script>
	const drawerToggle = document.querySelector("#drawerToggle");
	const drawerAdminNav = document.querySelector("#drawerAdmin");
	const drawerAdmin = drawerAdminNav.querySelectorAll("h6");
	const drawerSection = document.querySelectorAll("#drawerAdmin p");

	drawerToggle.addEventListener("mouseup", () => {
		const screenWidth = window.innerWidth;
		if (screenWidth > 600) {
			drawerAdmin.forEach((item) => {
				if (item.classList.contains("hidden")) item.classList.remove("hidden");
				else item.classList.add("hidden");
			});

			drawerSection.forEach((item) => {
				const itemLine = item.nextElementSibling;

				if (item.classList.contains("hidden")) {
					item.classList.remove("hidden");
					itemLine.classList.add("hidden");
				} else {
					item.classList.add("hidden");
					itemLine.classList.remove("hidden");
				}
			});
		} else {
			const sidebarAdminContainer = document.querySelector(".drawer-admin__container");

			if (sidebarAdminContainer.style.transform === "translateX(-100%)") {
				// If the div is hidden, show it
				sidebarAdminContainer.style.transform = "translateX(0)";
			} else {
				// If the div is visible, hide it
				sidebarAdminContainer.style.transform = "translateX(-100%)";
			}
		}
	});

	window.addEventListener("resize", function () {
		const width = window.innerWidth;

		if (width < 600) {
			resetState();
			const sidebarAdminContainer = document.querySelector(".drawer-admin__container");
			// if (sidebarAdminContainer.style.transform === "translateX(0)") {
			sidebarAdminContainer.style.transform = "translateX(-100%)";
			// }
		} else if (width >= 600) {
			const sidebarAdminContainer = document.querySelector(".drawer-admin__container");
			// if (sidebarAdminContainer.style.transform === "translateX(-100%)") {
			sidebarAdminContainer.style.transform = "translateX(0)";
			// }
		}
	});

	function resetState() {
		drawerAdmin.forEach((item) => {
			item.classList.remove("hidden");
		});

		drawerSection.forEach((item) => {
			const itemLine = item.nextElementSibling;

			item.classList.remove("hidden");
			itemLine.classList.add("hidden");
		});
	}

	var currentPath = window.location.pathname;

	const drawerUrl = document.querySelectorAll(".drawer-admin__container a");
	drawerUrl.forEach((item) => {
		var url = new URL(item.href);
		var pathAfterDomain = url.pathname;

		if (pathAfterDomain === currentPath) {
			item.classList.add("selected");
		} else {
			const pathSegments = currentPath.split("/").filter(Boolean); // filter(Boolean) removes empty segments
			const firstThreeSegments = "/" + pathSegments.slice(0, 3).join("/");
			if (pathAfterDomain == firstThreeSegments) item.classList.add("selected");
		}
	});
</script>
