<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css?v=9c5a820f-43b1-4487-bd78-5b1c1630bc81" />
	<link rel="stylesheet" href="/css/nativeIcons.css?v=9c5a820f-43b1-4487-bd78-5b1c1630bc81" />
	<title><%= title %></title>
</head>
