<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css?v=985c8e0b-833e-48a4-80d8-89309941d845" />
	<link rel="stylesheet" href="/css/nativeIcons.css?v=985c8e0b-833e-48a4-80d8-89309941d845" />
	<title><%= title %></title>
</head>
