<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css?v=5fb060fa-e68d-401a-978b-63287eeeed4c" />
	<link rel="stylesheet" href="/css/nativeIcons.css?v=5fb060fa-e68d-401a-978b-63287eeeed4c" />
	<title><%= title %></title>
</head>
