<nav class="navbar-admin">
	<div class="navbar-admin__container">
		<div class="navbar-admin__logo">
			<i id="drawerToggle" class="menu-list remix secondary icon-md"></i>
			<a href="/home">
				<span class="text-xxs font-bold">Politeknik<br />Transportasi Darat Indonesia</span>
			</a>
		</div>
		<div class="navbar-admin__nav">
			<div>
				<div class="cursor-pointer p-2 has-dropmenu hidden">
					<i class="notification remix info icon-sm"></i>
				</div>
				<div class="dropdown-menu__navbar right-12 bg-white hidden">
					<div class="flex flex-col gap-2 py-4 justify-between">
						<h6 class="font-semibold text-center">Notifications</h6>
						<div class="flex flex-col border-y border-info/30 overflow-y-scroll max-h-60 hidden">
							<div
								class="flex items-center gap-6 px-4 py-2 hover:bg-primary/10 cursor-pointer border-y border-line">
								<i class="mail-download remix secondary icon-md"></i>
								<div class="flex flex-col">
									<h6 class="font-semibold text-secondary">New Message</h6>
									<h6>10:41 AM August 7,2021</h6>
								</div>
							</div>
							<div
								class="flex items-center gap-6 px-4 py-2 hover:bg-primary/10 cursor-pointer notif-unread border-y border-line">
								<i class="mail-download remix secondary icon-md"></i>
								<div class="flex flex-col">
									<h6 class="font-semibold text-secondary">New Message</h6>
									<h6>10:41 AM August 7,2021</h6>
								</div>
							</div>
							<div
								class="flex items-center gap-6 px-4 py-2 hover:bg-primary/10 cursor-pointer notif-unread border-y border-line">
								<i class="mail-download remix secondary icon-md"></i>
								<div class="flex flex-col">
									<h6 class="font-semibold text-secondary">New Message</h6>
									<h6>10:41 AM August 7,2021</h6>
								</div>
							</div>
							<div
								class="flex items-center gap-6 px-4 py-2 hover:bg-primary/10 cursor-pointer notif-unread border-y border-line">
								<i class="mail-download remix secondary icon-md"></i>
								<div class="flex flex-col">
									<h6 class="font-semibold text-secondary">New Message</h6>
									<h6>10:41 AM August 7,2021</h6>
								</div>
							</div>
							<div
								class="flex items-center gap-6 px-4 py-2 hover:bg-primary/10 cursor-pointer notif-unread border-y border-line">
								<i class="mail-download remix secondary icon-md"></i>
								<div class="flex flex-col">
									<h6 class="font-semibold text-secondary">New Message</h6>
									<h6>10:41 AM August 7,2021</h6>
								</div>
							</div>
							<div
								class="flex items-center gap-6 px-4 py-2 hover:bg-primary/10 cursor-pointer notif-unread border-y border-line">
								<i class="mail-download remix secondary icon-md"></i>
								<div class="flex flex-col">
									<h6 class="font-semibold text-secondary">New Message</h6>
									<h6>10:41 AM August 7,2021</h6>
								</div>
							</div>
							<div
								class="flex items-center gap-6 px-4 py-2 hover:bg-primary/10 cursor-pointer notif-unread border-y border-line">
								<i class="mail-download remix secondary icon-md"></i>
								<div class="flex flex-col">
									<h6 class="font-semibold text-secondary">New Message</h6>
									<h6>10:41 AM August 7,2021</h6>
								</div>
							</div>
							<div
								class="flex items-center gap-6 px-4 py-2 hover:bg-primary/10 cursor-pointer notif-unread border-y border-line">
								<i class="mail-download remix secondary icon-md"></i>
								<div class="flex flex-col">
									<h6 class="font-semibold text-secondary">New Message</h6>
									<h6>10:41 AM August 7,2021</h6>
								</div>
							</div>
						</div>
						<div>
							<!-- <a href="#" class="block text-center font-semibold text-primary hover:underline"
								>Notification History</a
							> -->
							<a href="#" class="block text-center font-semibold text-primary hover:underline"
								>Feature not available</a
							>
						</div>
					</div>
				</div>
				<div class="cursor-pointer p-2">
					<a href="/users/logout" class="group gap-2">
						<i class="logout-circle remix danger-bold icon-sm group-hover:underline"></i>
						<h6 class="text-red-800 group-hover:underline text-xs">Logout</h6>
					</a>
				</div>
			</div>
			<div class="w-full hidden">
				<div class="h-8 rounded-full overflow-hidden cursor-pointer has-dropmenu">
					<img
						src="/img/avatar/placeholder-avatar.png"
						alt=""
						class="w-full h-full object-center" />
				</div>
				<div class="dropdown-menu__navbar right-0 bg-white hidden">
					<div class="flex flex-col gap-2 py-4">
						<div class="size-12 mx-auto rounded-full overflow-hidden">
							<img
								src="/img/avatar/placeholder-avatar.png"
								alt=""
								class="w-full h-full object-center" />
						</div>
						<h6 class="font-semibold text-center">Jerry Senfield</h6>
						<div class="flex flex-col py-4 border-y border-info/30">
							<a
								href="/profile"
								class="flex items-center gap-2 px-4 py-2 hover:bg-primary/10 cursor-pointer">
								<i class="account-circle remix secondary icon-md"></i>
								<h6 class="font-semibold text-secondary">Profile</h6>
							</a>
							<a
								href="/settings"
								class="flex items-center gap-2 px-4 py-2 hover:bg-primary/10 cursor-pointer">
								<i class="settings-icon remix secondary icon-md"></i>
								<h6 class="font-semibold text-secondary">Settings & Privacy</h6>
							</a>
						</div>
						<div class="flex flex-col items-center gap-2 p-4">
							<a
								href="/logout"
								class="flex items-center justify-center gap-2 px-4 py-2 hover:bg-danger cursor-pointer rounded-full bg-info/30 w-full group">
								<i class="logout-circle remix secondary group-hover:bg-white icon-md"></i>
								<h6 class="font-semibold text-secondary group-hover:text-white">Sign Out</h6>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>
<script>
	/* const hasDropMenu = document.querySelectorAll(".has-dropmenu");

	let prevIndex = -1;

	hasDropMenu.forEach((item, index) => {
		item.addEventListener("mouseup", () => {
			const targetMenu = item.nextElementSibling;

			if (prevIndex == -1) {
				prevIndex = index;
				targetMenu.classList.add("dropdown-menu__navbar_expand");
			} else if (prevIndex == index) {
				if (targetMenu.classList.contains("dropdown-menu__navbar_expand"))
					targetMenu.classList.remove("dropdown-menu__navbar_expand");
				else targetMenu.classList.add("dropdown-menu__navbar_expand");
			} else {
				document.querySelectorAll(".dropdown-menu__navbar").forEach((menu) => {
					menu.classList.remove("dropdown-menu__navbar_expand");
				});

				if (targetMenu.classList.contains("dropdown-menu__navbar_expand"))
					targetMenu.classList.remove("dropdown-menu__navbar_expand");
				else targetMenu.classList.add("dropdown-menu__navbar_expand");

				prevIndex = index;
			}
		});
	});

	const dropdownMenu = document.querySelectorAll(".dropdown-menu__navbar");

	document.addEventListener("click", function (event) {
		let isClickInside = false;

		// Check if the click is inside any of the has-dropmenu or its dropdown
		hasDropMenu.forEach((item) => {
			if (item.contains(event.target) || item.nextElementSibling.contains(event.target)) {
				isClickInside = true;
			}
		});

		// If the click is outside all dropdowns, close all of them
		if (!isClickInside) {
			document.querySelectorAll(".dropdown-menu__navbar").forEach((menu) => {
				menu.classList.remove("dropdown-menu__navbar_expand");
			});
		}
	}); */
</script>
