<!DOCTYPE html>
<html lang="en">
<%- include('./sections/head') %>

<body>
  <%- include('./sections/navbar') %>

  <div class="max-w-screen-2xl mx-auto">
    <div class="page-header w-full my-20">
    </div>

    <section>
      <div class="flex flex-col gap-6 px-4">
        <div class="flex flex-col w-fit">
          <h1 class="font-bold text-secondary">Public Comments</h1>
          <hr class="h-2 w-1/2 bg-tertiary" />
        </div>
        <h5 class="text-secondary mb-8">We'd love to hear from you! Share your feedback and reviews to help
          us enhance your experience.</h5>
        <div class="flex justify-between gap-32">
          <form class="flex flex-col w-1/2" method="POST" id="commentForm">
            <div>
              <label for="">Your Name</label>
              <input type="text" placeholder="What is your name?" />
            </div>
            <div>
              <label for="">Your Email</label>
              <input type="email" placeholder="What is your email?" />
            </div>
            <div>
              <label for="">Your Phone Number</label>
              <input type="tel" placeholder="What is your phone number?" />
            </div>
            <div>
              <label for="">Your Comment</label>
              <textarea placeholder="Write your comment here..."></textarea>
            </div>
            <button class="btn success w-1/4" type="submit">Submit</button>
          </form>
          <div class="flex flex-col w-1/2 gap-8">
            <div class="flex flex-col items-start gap-4">
              <div class="flex flex-col bg-tertiary/5 rounded-md px-4 py-8 w-full">
                <div class="flex justify-between items-end">
                  <h5 class="font-bold text-tertiary">John Doe</h5>
                  <p class="text-primary text-xs">01-Jan-2024</p>
                </div>
                <div class="flex mb-4 gap-1">
                  <h5 class="bi bi-star-fill text-yellow-400"></h5>
                  <h5 class="bi bi-star-fill text-yellow-400"></h5>
                  <h5 class="bi bi-star-fill text-yellow-400"></h5>
                  <h5 class="bi bi-star-fill text-yellow-400"></h5>
                  <h5 class="bi bi-star-fill text-yellow-400"></h5>
                </div>
                <p class="text-secondary font-semibold">I had an excellent experience using this website. The navigation is intuitive, and I found all the information I needed quickly. The design is clean and professional, making it a pleasure to browse. I highly recommend it!</p>
              </div>
              <div class="flex flex-col bg-tertiary/5 rounded-md px-4 py-8 w-full">
                <div class="flex justify-between items-end">
                  <h5 class="font-bold text-tertiary">Jane D</h5>
                  <p class="text-primary text-xs">08-Feb-2024</p>
                </div>
                <div class="flex mb-4 gap-1">
                  <h5 class="bi bi-star-fill text-yellow-400"></h5>
                  <h5 class="bi bi-star-fill text-yellow-400"></h5>
                  <h5 class="bi bi-star-fill text-yellow-400"></h5>
                  <h5 class="bi bi-star-fill text-yellow-400"></h5>
                  <h5 class="bi bi-star-fill text-yellow-400"></h5>
                </div>
                <p class="text-secondary font-semibold">This website exceeded my expectations. The content is well-organized and easy to read. I especially appreciate the responsive design, which makes it accessible on my phone and tablet. Great job!</p>
              </div>
              <div class="flex flex-col bg-tertiary/5 rounded-md px-4 py-8 w-full">
                <div class="flex justify-between items-end">
                  <h5 class="font-bold text-tertiary">Emily R</h5>
                  <p class="text-primary text-xs">23-Mar-2024</p>
                </div>
                <div class="flex mb-4 gap-1">
                  <h5 class="bi bi-star-fill text-yellow-400"></h5>
                  <h5 class="bi bi-star-fill text-yellow-400"></h5>
                  <h5 class="bi bi-star-fill text-yellow-400"></h5>
                  <h5 class="bi bi-star-fill text-yellow-400"></h5>
                  <h5 class="bi bi-star-fill text-yellow-400"></h5>
                </div>
                <p class="text-secondary font-semibold">Fantastic website! The user interface is user-friendly and aesthetically pleasing. I was able to find answers to my questions effortlessly. The customer support section is particularly helpful. Keep up the great work!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('./sections/footer') %> <%- include('./components/chatWidget') %>
  </div>
</body>

<script src="/js/navbarUtils.js"></script>
<script src="/js/lecturerUtils.js"></script>

</html>