<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/x-icon" href="/img/icon.png" />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
		<link rel="stylesheet" href="/css/style.css?v=25fa422c-ed06-48e8-b289-9560db33c705" />
		<title><%= title %></title>
	</head>
	<body>
		<nav class="navbar">
			<div class="mx-auto flex justify-between items-center">
				<div class="flex w-1/2 justify-start gap-4 items-center cursor-pointer">
					<img src="/img/logo.png" class="max-h-12 object-contain" />
					<p class="text-secondary font-bold leading-4 hidden sm:inline">
						<span class="text-xxs">POLITEKNIK</span><br />TRANSPORTASI DARAT INDONESIA
					</p>
					<!-- <div class="flex flex-col">
						<span class="text-xs text-secondary font-bold w-full">POLITEKNIK</span>
						<span class="text-base text-secondary font-bold w-full">TRANSPORTASI DARAT INDONESIA</span>
					</div> -->
				</div>
				<div class="flex items-center hidden lg:flex gap-4">
					<div class="menu">
						<ul>
							<li class="nav-menu__label">
								Tentang Kami
								<ul>
									<li class="link"><a href="/sejarah">Sejarah</a></li>
									<li class="link"><a href="/tugas-fungsi">Tugas & Fungsi</a></li>
									<li class="link"><a href="/visi-misi">Visi Misi</a></li>
									<li class="link"><a href="/struktur-organisasi">Struktur Organisasi</a></li>
									<li class="link"><a href="/pimpinan">Pimpinan</a></li>
									<li class="link"><a href="/fasilitas">Fasilitas</a></li>
								</ul>
							</li>
							<li class="nav-menu__label">
								Akademik
								<ul>
									<li>
										<a href="" class="link">Undergraduate</a>
										<ul>
											<li class="link">
												<a href="">D-III Manajemen Transportasi Jalan</a>
											</li>
											<li class="link">
												<a href="">D-III Manajemen Transportasi Perkerataapian</a>
											</li>
											<li class="link">
												<a href="">D-IV Manajemen Transportasi Darat</a>
											</li>
											<li class="link">
												<a href="">D-IV Teknologi Rekayasa Otomotif</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="" class="link">Postgraduate</a>
										<ul>
											<li class="link">
												<a href="">S-2 Pemasaran, Inovasi, dan Teknologi</a>
											</li>
											<li class="link">
												<a href="">S-2 Teknik Keselamatan dan Resiko</a>
											</li>
										</ul>
									</li>
									<li class="link"><a href="/diklat">Diklat</a></li>
									<li class="link"><a href="/dosen">Dosen</a></li>
								</ul>
							</li>
							<li class="nav-menu__label">
								For Student
								<ul>
									<li class="link"><a href="/elibrary">e-Library</a></li>
								</ul>
							</li>
							<li class="nav-menu__label">
								Informasi
								<ul>
									<li class="link"><a href="/berita">Berita</a></li>
									<li class="link"><a href="/pengumuman">Pengumuman</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="flex items-center gap-4 justify-between">
						<a href="/search" class="bi bi-search text-xl hover:text-secondary"></a>
						<a href="/login" class="btn success">Login</a>
						<div class="menu">
							<ul>
								<li class="nav-menu__label">
									<i class="text-xl bi bi-translate"></i>
									<ul class="dropdown_menu-6 drop-right">
										<li class="link">
											<a href="/lang-id" class="flex gap-2"
												><img src="/img/flags/indonesia.png" class="max-w-4" />Bahasa Indonesia</a
											>
										</li>
										<li class="link">
											<a href="/lang-en" class="flex gap-2"
												><img src="/img/flags/united-kingdom.png" class="max-w-4" />English</a
											>
										</li>
										<li class="link">
											<a href="/lang-zh-hans" class="flex gap-2"
												><img src="/img/flags/china.png" class="max-w-4" />Chinese (Simplified)</a
											>
										</li>
										<li class="link">
											<a href="/lang-ko" class="flex gap-2"
												><img src="/img/flags/korean.png" class="max-w-4" />Korean</a
											>
										</li>
										<li class="link">
											<a href="/lang-ja" class="flex gap-2"
												><img src="/img/flags/japan.png" class="max-w-4" />Japanese</a
											>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="flex lg:hidden items-center gap-4 justify-between">
					<a href="/search" class="bi bi-search text-xl hover:text-secondary"></a>
					<div class="navbar-mobile__language">
						<i id="translation-icon__mobile" class="cursor-pointer text-xl bi bi-translate"></i>
						<ul>
							<li>
								<a href="/lang-id"
									><img src="/img/flags/indonesia.png" class="max-w-6" />Bahasa Indonesia</a
								>
							</li>
							<li>
								<a href="/lang-en"
									><img src="/img/flags/united-kingdom.png" class="max-w-6" />English</a
								>
							</li>
							<li>
								<a href="/lang-zh-hans"
									><img src="/img/flags/china.png" class="max-w-6" />Chinese (Simplified)</a
								>
							</li>
							<li>
								<a href="/lang-ko"><img src="/img/flags/korean.png" class="max-w-6" />Korean</a>
							</li>
							<li>
								<a href="/lang-ja"><img src="/img/flags/japan.png" class="max-w-6" />Japanese</a>
							</li>
						</ul>
					</div>
					<h1 id="list-navbar__mobile" class="btn primary cursor-pointer bi bi-list"></h1>
				</div>
			</div>
		</nav>
		<div class="hidden">
			<div class="min-w-xs max-w-md w-full my-10">
				<form
					id="loginForm"
					action="/login"
					method="POST"
					class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
					<div class="flex flex-col justify-center py-12">
						<img src="/img/logo.jpg" class="w-1/2 mx-auto" />
						<h6 class="mx-auto text-primary font-semibold">Attendance Login</h6>
					</div>
					<div class="mb-4">
						<label for="email">Email</label>
						<input
							id="email"
							name="email"
							type="email"
							placeholder="Enter your email address"
							required />
					</div>
					<div class="mb-6">
						<label for="password">Password</label>
						<input
							id="password"
							name="password"
							type="password"
							placeholder="Enter your password"
							autocomplete="off"
							required />
					</div>
					<div class="flex items-center justify-between mb-6">
						<button id="signInButton" class="btn block" type="submit">Sign In</button>
					</div>
					<a class="flex justify-center text-link" href="#">Forget Password</a>
				</form>
			</div>
		</div>

		<nav id="navbar-mobile" class="navbar-mobile">
			<ul class="flex flex-col">
				<li class="navbar-mobile__label">
					<p class="submenu">TENTANG KAMI</p>
					<ul class="hideDropdown">
						<li><a href="/sejarah">Sejarah</a></li>
						<li><a href="/tugas-fungsi">Tugas & Fungsi</a></li>
						<li><a href="/visi-misi">Visi Misi</a></li>
						<li><a href="/struktur-organisasi">Struktur Organisasi</a></li>
						<li><a href="/pimpinan">Pimpinan</a></li>
						<li><a href="/fasilitas">Fasilitas</a></li>
					</ul>
				</li>
				<li class="navbar-mobile__label">
					<p class="submenu">AKADEMIK</p>
					<ul class="hideDropdown">
						<li>
							<a href="#" class="submenu">Undergraduate</a>
							<ul class="hideDropdown px-4">
								<li><a href="/sejarah">D-III Manajemen Transportasi Jalan</a></li>
								<li><a href="/tugas-fungsi">D-III Manajemen Transportasi Perkerataapian</a></li>
								<li><a href="/visi-misi">D-IV Manajemen Transportasi Darat</a></li>
								<li><a href="/struktur-organisasi">D-IV Teknologi Rekayasa Otomotif</a></li>
							</ul>
						</li>
						<li>
							<a href="#" class="submenu">Postgraduate</a>
							<ul class="hideDropdown px-4">
								<li><a href="/sejarah">S-2 Pemasaran, Inovasi, dan Teknologi</a></li>
								<li><a href="/tugas-fungsi">S-2 Teknik Keselamatan dan Resiko</a></li>
							</ul>
						</li>
						<li><a href="/visi-misi">Diklat</a></li>
						<li><a href="/struktur-organisasi">Dosen</a></li>
					</ul>
				</li>
				<li class="navbar-mobile__label">
					<p class="submenu">FOR STUDENT</p>
					<ul class="hideDropdown">
						<li><a href="/sejarah">e-Library</a></li>
					</ul>
				</li>
				<li class="navbar-mobile__label">
					<p class="submenu">INFORMASI</p>
					<ul class="hideDropdown">
						<li><a href="/sejarah">Berita</a></li>
						<li><a href="/tugas-fungsi">Pengumuman</a></li>
					</ul>
				</li>
			</ul>
		</nav>

		<div class="max-w-screen-2xl mx-auto">
			<section>
				<div class="slideshow-container mt-32">
					<div class="slides">
						<div class="slide">
							<img src="/img/sports_facilities.jpg" alt="Slide 1" />
						</div>
						<div class="slide">
							<img src="/img/cafe_facilities.jpg" alt="Slide 2" />
						</div>
						<div class="slide">
							<img src="/img/internet_facilities.jpg" alt="Slide 3" />
						</div>
					</div>

					<!-- Navigation Buttons -->
					<div class="nav-buttons">
						<button onclick="showSlide(0)">1</button>
						<button onclick="showSlide(1)">2</button>
						<button onclick="showSlide(2)">3</button>
					</div>
				</div>
			</section>

			<section id="campuses">
				<div class="flex flex-col lg:px-20 hidden">
					<div class="flex gap-2">
						<div class="bg-tertiary w-3"></div>
						<div class="flex flex-col">
							<h3 class="font-semibold text-primary">OUR</h3>
							<h1 class="text-6xl font-semibold text-primary">CAMPUS</h1>
						</div>
					</div>
					<p class="px-2 py-8">
						Explore our vibrant campus, featuring state-of-the-art buildings, exceptional
						facilities, and dedicated faculty members committed to providing a dynamic and
						supportive learning environment. Discover the resources and opportunities that make our
						university a thriving community for academic and personal growth.
					</p>
					<div class="flex justify-center max-w-screen-lg mx-auto">
						<img src="/img/our_campus.jpg" class="w-full" />
					</div>
					<div class="flex campus-vibe">
						<h1 class="text-gray-700 bi bi-quote"></h1>
						<div class="flex flex-col items-start text-gray-700 pl-4">
							<p class="font-semibold uppercase py-4">
								Education is the most powerful weapon which you can use to change the world.
							</p>
							<p class="text-secondary font-bold">- Nelson Mandela</p>
						</div>
						<h1 class="text-gray-700 bi bi-quote"></h1>
					</div>
				</div>
			</section>

			<section id="facilities">
				<div class="flex flex-col px-20 hidden">
					<div class="flex gap-2">
						<div class="bg-tertiary w-3"></div>
						<h1 class="font-semibold text-primary">FACILITIES</h1>
					</div>
					<div class="flex flex-col sm:flex-row gap-12 py-4">
						<div class="flex flex-col w-3/4 gap-2">
							<h3 class="pr-20">Our facilities offer advanced resources for every student.</h3>
						</div>
					</div>
					<div class="facilities-container">
						<div class="tabs">
							<h3 class="tabs-facil" id="labs">LABS, SPORTS, LIBRARY</h3>
							<h3 class="tabs-facil" id="cafe">CAFETERIA, COLLEGE CANTEEN</h3>
							<h3 class="tabs-facil" id="inte">ART AND MUSIC STUDIO</h3>
							<h3 class="tabs-facil" id="dorm">DORMITORY</h3>
						</div>
						<div id="facil-lab" class="content">
							<div class="flex justify-between gap-8">
								<div class="w-1/2 h-96">
									<img src="/img/sports_facilities.jpg" class="h-full w-full object-cover" />
								</div>
								<div class="flex flex-col w-1/2 relative gap-4">
									<p class="border-l-8 border-tertiary pl-4 text-justify">
										<span class="text-3xl font-bold">Our campus</span> features advanced
										laboratories that provide students with hands-on experience in various
										scientific fields, modern sports facilities that cater to a wide range of
										athletic activities, and a comprehensive library stocked with an extensive
										collection of books, journals, and digital resources. These amenities are
										designed to support both academic and extracurricular pursuits, fostering a
										well-rounded educational experience. Our labs are equipped with cutting-edge
										technology, our sports facilities promote physical fitness and teamwork, and our
										library offers a quiet and resourceful environment for study and research,
										ensuring students have access to the best resources available.
									</p>
								</div>
							</div>
						</div>
						<div id="facil-cafe" class="content hidden">
							<div class="flex justify-between gap-8">
								<div class="w-1/2 h-96">
									<img src="/img/cafe_facilities.jpg" class="h-full w-full object-cover" />
								</div>
								<div class="flex flex-col w-1/2 relative gap-4">
									<p class="border-l-8 border-tertiary pl-4 text-justify">
										<span class="text-3xl font-bold">Our college</span> cafeteria and canteen offer
										a diverse array of nutritious and delicious meal options, catering to various
										dietary preferences and needs. With a focus on providing a comfortable and
										inviting dining environment, students can enjoy freshly prepared dishes ranging
										from local specialties to international cuisines. The canteen is designed to be
										a social hub where students can relax, study, and interact with peers between
										classes. Emphasizing quality and affordability, our food services ensure that
										every meal is both satisfying and healthy, contributing to the overall
										well-being and academic success of our student community.
									</p>
								</div>
							</div>
						</div>
						<div id="facil-info" class="content hidden">
							<div class="flex justify-between gap-8">
								<div class="w-1/2 h-96">
									<img src="/img/art_music_facilities.jpg" class="h-full w-full object-cover" />
								</div>
								<div class="flex flex-col w-1/2 relative gap-4">
									<p class="border-l-8 border-tertiary pl-4 text-justify">
										<span class="text-3xl font-bold">Art and music studios</span> are designed to
										inspire creativity and foster artistic talent among students. Equipped with the
										latest tools and technology, these studios provide a conducive environment for
										both individual practice and collaborative projects. The art studio offers a
										variety of materials and spaces for drawing, painting, and sculpture, while the
										music studio features soundproof rooms, advanced recording equipment, and a
										range of musical instruments. These facilities are dedicated to supporting the
										artistic pursuits of our students, allowing them to explore their passions,
										develop their skills, and express their creativity freely.
									</p>
								</div>
							</div>
						</div>
						<div id="facil-dorm" class="content hidden">
							<div class="flex justify-between gap-8">
								<div class="w-1/2 h-96">
									<img src="/img/dorm_facilities.jpg" class="h-full w-full object-cover" />
								</div>
								<div class="flex flex-col w-1/2 relative gap-4">
									<p class="border-l-8 border-tertiary pl-4 text-justify">
										<span class="text-3xl font-bold">The dormitory</span> offers a comfortable and
										secure living environment, providing students with modern amenities and a
										supportive community atmosphere. Each room is thoughtfully designed to ensure a
										balance of privacy and social interaction, featuring cozy furnishings, ample
										storage, and study spaces. Common areas, such as lounges, kitchens, and
										recreational rooms, foster a sense of community and encourage collaborative
										activities among residents. With 24/7 security and dedicated residential staff,
										the dormitory ensures a safe and nurturing environment, allowing students to
										focus on their academic and personal growth while enjoying the convenience of
										on-campus living.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="lecturers">
				<div class="flex flex-col md:px-20">
					<div class="flex gap-2">
						<div class="bg-tertiary w-3"></div>
						<h1 class="font-semibold text-primary">LECTURERS</h1>
					</div>
					<div class="profile-card2__wrapper">
						<div class="profile-card2__container">
							<a href="#" class="profile-card2">
								<div class="left-side">
									<img
										src="/img/lecturers/pexels-italo-melo-881954-2379004.jpg"
										alt="Profile Photo" />
								</div>
								<div class="right-side">
									<h3>John Doe</h3>
									<p>Software Developer</p>
									<p>Lecture</p>
								</div>
							</a>
							<a href="#" class="profile-card2">
								<div class="left-side">
									<img src="/img/lecturers/images_MmpLGDfH6LaHGa3Z1fRv2.png" alt="Profile Photo" />
								</div>
								<div class="right-side">
									<h3>Mary Ane</h3>
									<p>Architecture</p>
								</div>
							</a>
							<a href="#" class="profile-card2">
								<div class="left-side">
									<img src="/img/lecturers/images_1u0doGLgMmUjxVtJpiN3.png" alt="Profile Photo" />
								</div>
								<div class="right-side">
									<h3>Olive Brown</h3>
									<p>Management</p>
								</div>
							</a>
							<a href="#" class="profile-card2">
								<div class="left-side">
									<img src="/img/lecturers/images_rEtsplTEyhhipKtdWioi.png" alt="Profile Photo" />
								</div>
								<div class="right-side">
									<h3>Alex Murphy</h3>
									<p>Software Developer</p>
									<p>Economics</p>
								</div>
							</a>
							<a href="#" class="profile-card2">
								<div class="left-side">
									<img src="/img/lecturers/images_uIqtqTwiWXtniIx6bJCA.png" alt="Profile Photo" />
								</div>
								<div class="right-side">
									<h3>Kelly Tan</h3>
									<p>History</p>
								</div>
							</a>
							<a href="#" class="profile-card2">
								<div class="left-side">
									<img src="/img/lecturers/images_C1f83fRvBi4JA7oMWMuE.png" alt="Profile Photo" />
								</div>
								<div class="right-side">
									<h3>Alexandra Josephine</h3>
									<p>Computer 101</p>
								</div>
							</a>
							<a href="#" class="profile-card2">
								<div class="left-side">
									<img src="/img/lecturers/pexels-nkhajotia-1516680.jpg" alt="Profile Photo" />
								</div>
								<div class="right-side">
									<h3>David John</h3>
									<p>Business and Management</p>
								</div>
							</a>
							<a href="#" class="profile-card2">
								<div class="left-side">
									<img src="/img/lecturers/images_phafv2KomxR7Q7PiD9Lr.png" alt="Profile Photo" />
								</div>
								<div class="right-side">
									<h3>Kiera</h3>
									<p>Basic Engineering</p>
								</div>
							</a>
							<a href="#" class="profile-card2">
								<div class="left-side">
									<img src="/img/lecturers/images_ELfYaS9ot5QH8p5CYNJK.png" alt="Profile Photo" />
								</div>
								<div class="right-side">
									<h3>Michelle Agustine</h3>
									<p>Medical Doctor</p>
								</div>
							</a>
						</div>
					</div>

					<div class="flex gap-6 py-4 overflow-hidden hidden">
						<a href="#" class="profile-card">
							<div class="left-side">
								<img
									src="/img/lecturers/pexels-italo-melo-881954-2379004.jpg"
									alt="Profile Photo" />
							</div>
							<div class="right-side">
								<h3>John Doe</h3>
								<p>Software Developer</p>
								<p>Lecture</p>
							</div>
						</a>
						<a href="#" class="profile-card">
							<div class="left-side">
								<img src="/img/lecturers/images_MmpLGDfH6LaHGa3Z1fRv2.png" alt="Profile Photo" />
							</div>
							<div class="right-side">
								<h3>Mary Ane</h3>
								<p>Architecture</p>
							</div>
						</a>
						<a href="#" class="profile-card">
							<div class="left-side">
								<img src="/img/lecturers/images_1u0doGLgMmUjxVtJpiN3.png" alt="Profile Photo" />
							</div>
							<div class="right-side">
								<h3>Olive Brown</h3>
								<p>Management</p>
							</div>
						</a>
						<a href="#" class="profile-card">
							<div class="left-side">
								<img src="/img/lecturers/images_rEtsplTEyhhipKtdWioi.png" alt="Profile Photo" />
							</div>
							<div class="right-side">
								<h3>Alex Murphy</h3>
								<p>Software Developer</p>
								<p>Economics</p>
							</div>
						</a>
						<a href="#" class="profile-card">
							<div class="left-side">
								<img src="/img/lecturers/images_uIqtqTwiWXtniIx6bJCA.png" alt="Profile Photo" />
							</div>
							<div class="right-side">
								<h3>Kelly Tan</h3>
								<p>History</p>
							</div>
						</a>
						<a href="#" class="profile-card">
							<div class="left-side">
								<img src="/img/lecturers/images_C1f83fRvBi4JA7oMWMuE.png" alt="Profile Photo" />
							</div>
							<div class="right-side">
								<h3>Alexandra Josephine</h3>
								<p>Computer 101</p>
							</div>
						</a>
						<a href="#" class="profile-card">
							<div class="left-side">
								<img src="/img/lecturers/pexels-nkhajotia-1516680.jpg" alt="Profile Photo" />
							</div>
							<div class="right-side">
								<h3>David John</h3>
								<p>Business and Management</p>
							</div>
						</a>
						<a href="#" class="profile-card">
							<div class="left-side">
								<img src="/img/lecturers/images_phafv2KomxR7Q7PiD9Lr.png" alt="Profile Photo" />
							</div>
							<div class="right-side">
								<h3>Kiera</h3>
								<p>Basic Engineering</p>
							</div>
						</a>
						<a href="#" class="profile-card">
							<div class="left-side">
								<img src="/img/lecturers/images_ELfYaS9ot5QH8p5CYNJK.png" alt="Profile Photo" />
							</div>
							<div class="right-side">
								<h3>Michelle Agustine</h3>
								<p>Medical Doctor</p>
							</div>
						</a>
					</div>
				</div>
			</section>

			<section id="contactUs">
				<div class="flex flex-col md:px-20">
					<div class="flex gap-2">
						<div class="bg-tertiary w-3"></div>
						<h1 class="font-semibold text-primary">TALK TO US</h1>
					</div>
					<div class="flex flex-col items-center md:items-start sm:flex-row gap-12 py-4">
						<div class="flex flex-col md:w-3/4 gap-2 px-4 md:px-0">
							<p class="md:pr-20">
								Have questions about our university programs, admissions, or any other inquiries?
								Our team is here to assist you. Feel free to reach out to us via email or WhatsApp,
								and we'll provide the information and support you need. We're just a message away
								and happy to help!
							</p>
							<div class="flex gap-8 items-center">
								<h1 class="bi bi-whatsapp cursor-pointer text-primary"></h1>
								<h1 class="bi bi-chat-dots cursor-pointer text-primary"></h1>
							</div>
						</div>
						<div class="w-full md:w-96">
							<img src="/img/hand_holding_smartphone.jpg" />
						</div>
					</div>
				</div>
			</section>

			<footer>
				<div class="flex flex-col bg-primary text-white md:px-20">
					<div class="grid grid-cols-1 gap-12 lg:gap-0 lg:grid-cols-2 justify-between py-12">
						<div class="flex flex-col items-center md:items-start text-center md:text-start gap-2">
							<h1 class="font-semibold">PTDI STTD</h1>
							<p class="text-danger">Politeknik Transportasi Darat</p>
							<div class="flex gap-3">
								<h5 class="bi bi-facebook"></h5>
								<h5 class="bi bi-instagram"></h5>
								<h5 class="bi bi-youtube"></h5>
								<h5 class="bi bi-linkedin"></h5>
							</div>
						</div>
						<div class="flex flex-col gap-8 md:gap-4 md:flex-row justify-between">
							<div
								class="flex flex-col items-center md:items-start md:w-1/3 text-center md:text-start gap-4">
								<h6 class="font-semibold">PTDI STTD</h6>
								<hr class="w-1/4 border-4 border-tertiary" />
								<div class="flex flex-col text-sm gap-2">
									<a href="#" class="text-sm">Lecturer</a>
									<a href="#" class="text-sm">News</a>
									<a href="#" class="text-sm">Events</a>
									<a href="#" class="text-sm">Facilities</a>
									<a href="#" class="text-sm">Academic Calendar</a>
									<a href="#" class="text-sm">About Us</a>
								</div>
							</div>
							<div
								class="flex flex-col items-center md:items-start md:w-1/3 text-center md:text-start gap-4">
								<h6 class="font-semibold">Contact Us</h6>
								<hr class="w-1/4 border-4 border-tertiary" />
								<div class="flex flex-col text-sm gap-2">
									<p>(021) 8254640</p>
									<p>info@ptdisttd.ac.id</p>
									<p>humas@ptdisttd.ac.id</p>
								</div>
							</div>
							<div
								class="flex flex-col items-center md:items-start md:w-1/3 text-center md:text-start gap-4">
								<h6 class="font-semibold">Locations</h6>
								<hr class="w-1/4 border-4 border-tertiary" />
								<div class="flex flex-col text-sm gap-1">
									<p>Jalan Raya Setu No.89 Bekasi, 17520</p>
								</div>
							</div>
						</div>
					</div>
					<div class="text-xs pt-6 pb-12 border-t border-gray-500">
						Copyright © 2024 by PTDI STTD. All Rights Reserved.
					</div>
				</div>
			</footer>
		</div>
	</body>
	<script>
		const section = document.getElementsByClassName("tabs-facil");

		for (let n = 0; n < section.length; n++) {
			section[n].addEventListener("mouseup", (event) => {
				const targetSection = document.getElementsByClassName("content");
				for (let x = 0; x < targetSection.length; x++) {
					if (!targetSection[x].classList.contains("hidden")) {
						targetSection[x].classList.add("hidden");
					}
					if (x == n) {
						targetSection[x].classList.remove("hidden");
					}
				}

				for (let x = 0; x < section.length; x++) {
					if (section[x].classList.contains("text-tertiary")) {
						section[x].classList.remove("text-tertiary");
					}
				}

				event.target.classList.add("text-tertiary");
			});
		}

		var slidesContainer = document.querySelector(".slides");
		var slides = document.querySelectorAll(".slide");
		var currentSlide = 0;

		function showSlide(index) {
			if (index >= 0 && index < slides.length) {
				slidesContainer.style.transform = `translateX(${-index * 100}%)`;
				currentSlide = index;
			}
		}

		function handleIcon_onClicked() {
			const navbarMobile = document.getElementById("navbar-mobile");
			navbarMobile.classList.toggle("show");
		}

		const listNavbarMobile = document.getElementById("list-navbar__mobile");
		listNavbarMobile.addEventListener("mouseup", handleIcon_onClicked);

		function toggleNavBarMobileMenu(event) {
			const targetList = event.target.nextElementSibling;
			if (targetList.classList.contains("showDropdown")) {
				targetList.classList.remove("showDropdown");
				targetList.classList.add("hideDropdown");
			} else if (targetList.classList.contains("hideDropdown")) {
				targetList.classList.remove("hideDropdown");
				targetList.classList.add("showDropdown");
			}
		}

		const navbarMobileLabel = document.querySelectorAll(".navbar-mobile__label");
		for (let n = 0; n < navbarMobileLabel.length; n++) {
			navbarMobileLabel[n].addEventListener("mouseup", toggleNavBarMobileMenu);
		}

		function outsideClickListener(event) {
			const container = document.querySelector(".navbar-mobile__language ul");
			const button = document.querySelector("#translation-icon__mobile");
			if (!container.contains(event.target) && !button.contains(event.target)) {
				container.style.display = "none";
				document.removeEventListener("click", outsideClickListener);
			}
		}

		function toggleMobileLanguage() {
			const navbarMobile = document.getElementById("navbar-mobile");
			navbarMobile.classList.remove("show");

			const targetList = event.target.nextElementSibling;

			if (targetList.style.display === "none" || targetList.style.display === "") {
				targetList.style.display = "flex";
				document.addEventListener("click", outsideClickListener);
			} else {
				targetList.style.display = "none";
				document.removeEventListener("click", outsideClickListener);
			}
		}

		const translationIconMobile = document.getElementById("translation-icon__mobile");
		translationIconMobile.addEventListener("mouseup", toggleMobileLanguage);
	</script>
</html>
