<!DOCTYPE html>
<html lang="en">
	<%- include('../../sections/head') %>

	<body>
		<%- include('../../sections/navbar') %>

		<div class="max-w-screen-2xl mx-auto my-20">
			<div class="page-header w-full my-20">
				<div class="w-full h-[25rem] relative">
					<img
						src="/img/training/Diklat-2.jpeg"
						alt=""
						class="w-full h-full object-cover object-top" />
					<div
						class="absolute bg-gradient-to-r from-tertiary from-1% h-full w-full bottom-0 flex flex-col justify-center">
						<h3 class="font-bold text-white w-full px-20">DIKLAT TEKNIS & KHUSUS</h3>
					</div>
				</div>
			</div>

			<div class="flex flex-col w-full gap-16 reveal fade-right">
				<div class="flex">
					<div class="flex flex-col w-full xl:w-2/5 px-2">
						<h1 class="text-secondary font-bold">DIKLAT TEKNIS & KHUSUS</h1>
						<hr class="h-2 w-1/4 bg-tertiary" />
					</div>
				</div>
				<div class="grid grid-rows grid-cols-1 md:grid-cols-3 xl:grid-cols-4 gap-4">
					<div class="basic-card">
						<div class="title">DIKLAT TEKNIS PENYUSUNAN ANDALALIN</div>
						<p class="content">Mampu menyusun Dokumen Analisis Dampak Lalu Lintas.</p>
					</div>

					<div class="basic-card">
						<div class="title">DIKLAT TEKNIS PENILAIAN ANDALALIN</div>
						<p class="content">Mampu Menilai Dokumen Analisis Dampak Lalu Lintas.</p>
					</div>

					<div class="basic-card">
						<div class="title">DIKLAT TEKNIS PENGELOLA APILL</div>
						<p class="content">Mampu Melakukan Setting APILL dan Data Lalu Lintas.</p>
					</div>

					<div class="basic-card">
						<div class="title">DIKLAT TEKNIS MANAJEMEN SURVEY LALU LINTAS</div>
						<p class="content">Mampu Mengumpulkan dan Mengolah Data Lalu Lintas.</p>
					</div>

					<div class="basic-card">
						<div class="title">DIKLAT TEKNIS PENGELOLA TERMINAL PENUMPANG</div>
						<p class="content">Mampu Mengelola Terminal Angkutan Penumpang.</p>
					</div>

					<div class="basic-card">
						<div class="title">DIKLAT TEKNIS MANAJEMEN OPERASIONAL UPPKB</div>
						<p class="content">
							Mampu Melakukan Penimbangan dan Menganalisis Hasil Penimbangan Kendaraan Bermotor.
						</p>
					</div>

					<div class="basic-card">
						<div class="title">DIKLAT TEKNIS MARKA JALAN</div>
						<p class="content">Mampu Melakukan Aplikasi Marka Jalan.</p>
					</div>

					<div class="basic-card">
						<div class="title">DIKLAT TEKNIS RAMBU LALU LINTAS</div>
						<p class="content">Mampu Merencanakan dan Membuat Rambu.</p>
					</div>

					<div class="basic-card">
						<div class="title">DIKLAT TEKNIS PENGEMUDI ANGKUTAN UMUM</div>
						<p class="content">Mampu Mengemudi dan Menangani Penumpang Angkutan Umum.</p>
					</div>

					<div class="basic-card">
						<div class="title">DIKLAT TEKNIS MANAJEMEN ANGKUTAN UMUM</div>
						<p class="content">Mampu Mengelola Operasional dan Bisnis Angkutan Umum.</p>
					</div>

					<div class="basic-card">
						<div class="title">DIKLAT TEKNIS PPNS POLA 200 JP (UNTUK PEJABAT STRUKTURAL)</div>
						<p class="content">Mampu Melakukan Penyidik Pelanggaran LLAJ.</p>
					</div>

					<div class="basic-card">
						<div class="title">DIKLAT TEKNIS PPNS POLA 400 JP (UNTUK STAFF)</div>
						<p class="content">Mampu Melakukan Penyidikan Pelanggaran LLAJ.</p>
					</div>

					<div class="basic-card">
						<div class="title">DIKLAT TEKNIS PEMBEKALAN KEPALA DINAS PERHUBUNGAN</div>
						<p class="content">Mampu Menyusun Kebijakan Sektor Perhubungan.</p>
					</div>

					<div class="basic-card">
						<div class="title">DIKLAT TEKNIS PEMBEKALAN KEPALA BIDANG PERHUBUNGAN DARAT</div>
						<p class="content">Mampu Menyusun Kebijakan Bidang Perhubungan Darat.</p>
					</div>

					<div class="basic-card">
						<div class="title">DIKLAT TEKNIS ORIENTASI LLAJ</div>
						<p class="content">Mampu Memahami Tugas Pokok Fungsi Bidang LLAJ dengan baik.</p>
					</div>

					<div class="basic-card">
						<div class="title">DIKLAT TEKNIS PKB DASAR</div>
						<p class="content">
							Mampu Mengelola Administrasi dan Pra Uji PKB, Mampu Melakukan Cek Fisik dan Visual
							Pengujian Kendaraan Bermotor.
						</p>
					</div>

					<div class="basic-card">
						<div class="title">DIKLAT TEKNIS PENGAWASAN DAN PENGENDALIAN LLAJ</div>
						<p class="content">Mampu Mengatur dan Mengendalikan LLAJ.</p>
					</div>

					<div class="basic-card">
						<div class="title">DIKLAT TEKNIS JALUR DAN BANGUNAN KERETA API</div>
						<p class="content">
							Mengetahui dan memahami peraturan perundangan di bidang jalur dan bangunan kereta api
							dan spesifikasi teknis jalur dan bangunan kereta api.
						</p>
					</div>

					<div class="basic-card">
						<div class="title">DIKLAT TEKNIS FASILITAS OPERASI KERETA API</div>
						<p class="content">
							Mengetahui dan memahami peraturan perundangn di bidang fasilitas operasi kereta api
							dan spesifikasi teknis fasilitas operasi kereta api.
						</p>
					</div>

					<div class="basic-card">
						<div class="title">DIKLAT TEKNIS PERKERETAAPIAN BERPENGGERAK NON LISTRIK</div>
						<p class="content">
							Memahami dan Mampu menjelaskan peraturan perundangan di bidang sarana kereta api
							berpenggerak non listrik dan spesifikasi teknis sarana perkeretaapian berpenggerak non
							listrik.
						</p>
					</div>

					<div class="basic-card">
						<div class="title">DIKLAT TEKNIS PENGUJIAN JALUR DAN BANGUNAN KERETA API PERTAMA</div>
						<p class="content">
							Mengetahui dan memahami tata cara dan prosedur pengujian jalur dan bangunan kereta
							api.
						</p>
					</div>

					<div class="basic-card">
						<div class="title">DIKLAT TEKNIS PENGUJIAN FASILITAS OPERASI KERETA API PERTAMA</div>
						<p class="content">
							Mengetahui dan memahami tata cara dan prosedur pengujian fasilitas operasi kereta api
							dan mengetahui serta memahami spesifikasi teknis fasilitas operasi kereta api.
						</p>
					</div>

					<div class="basic-card">
						<div class="title">
							DIKLAT TEKNIS PENGUJIAN SARANA PERKERETAAPIAN BERPENGGERAK NON LISTRIK PERTAMA
						</div>
						<p class="content">
							Mampu menjelaskan dan menerapkan tata cara dan prosedur pengujian sarana
							perkeretaapian penggerak non listrik dan mampu menyusun perencanaan kegiatan
							pelaksanaan pengujian sarana perkeretaapian.
						</p>
					</div>

					<div class="basic-card">
						<div class="title">DIKLAT TEKNIS PENJAGA PERLINTASAN SEBIDANG KERETA API</div>
						<p class="content">
							Mengetahui dan memahami tata cara pengoperasian peralatan pada perlintasan sebidang
							kereta api dan mengetahui serta memahami peraturan dalam mengatur arus lalu lintas
							jalan raya.
						</p>
					</div>

					<div class="basic-card">
						<div class="title">DIKLAT TEKNIS PENYEGARAN MASINIS PERKERETAAPIAN</div>
						<p class="content">
							Mampu menjelaskan dan menerapkan peraturan perundangan dan mampu mengidentifikasi
							serta menjelaskan prasarana, sarana dan operasional perkeretaapian.
						</p>
					</div>

					<div class="basic-card">
						<div class="title">DIKLAT TEKNIS ORIENTASI PERKERETAAPIAN</div>
						<p class="content">
							Mampu menjelaskan dan menerapkan peraturan perundangan dan mampu mengidentifikasi
							serta menjelaskan prasarana, sarana dan operasional perkeretaapian.
						</p>
					</div>

					<div class="basic-card">
						<div class="title">DIKLAT KHUSUS (sesuai kebutuhan STAKEHOLDER)</div>
						<p class="content">
							Diklat Khusus pengemudi profesional, Diklat Khusus Pemeriksa kendaraan bermotor,
							Diklat Khusus lalu lintas dan angkutan jalan, Diklat Khusus pengawasan dan
							pengendalian lalu lintas, Diklat Khusus teknis lainnya yang diperlukan stake holder.
						</p>
					</div>
				</div>

				<a href="https://training.ptdisttd.ac.id/" class="flex items-center p-0 mx-auto">
					<div
						class="flex items-center justify-center w-16 h-16 bg-tertiary rounded-full text-white text-2xl p-0 border-8 border-white z-10">
						<i class="bi bi-vector-pen"></i>
					</div>
					<h5 class="bg-tertiary text-white py-2 px-12 rounded-md relative right-5">
						Informasi Pendaftaran
					</h5>
				</a>
			</div>
		</div>

		<%- include('../../sections/footer') %> <%- include('../../components/chatWidget') %>
	</body>

	<script src="/js/navbarUtils.js"></script>
	<script src="/js/lecturerUtils.js"></script>
</html>
