<div class="page-header w-full my-20">
    <div class="w-full h-[30rem] relative">
      <img src="/img/sections/df24a3c2-e700-49f1-af74-c62fd4c2d6a5.jpg" alt="" class="w-full h-full object-cover" />
      <div class="absolute w-full h-full bottom-0 bg-gray-800/50"></div>
      <h1 class="font-bold text-white sm:text-6xl px-2 md:px-12 w-full absolute bottom-1/4 md:bottom-1/2 z-10 uppercase">
        <%=heroSection.title%>
      </h1>
      <div class="bg-tertiary absolute h-28 w-56 hidden md:flex bottom-2/3 z-0"></div>
    </div>      
</div>