<div class="page-header w-full my-20">
	<div class="w-full h-[30rem] relative">
		<img src="/img/main-building.jpg" alt="" class="w-full h-full object-cover" />
		<div class="absolute w-full h-full bottom-0 bg-gray-800/50"></div>
		<h1
			class="font-bold text-white sm:text-6xl px-2 md:px-12 w-full absolute bottom-1/4 md:bottom-3/4 z-10 uppercase">
			<%=dutiesHero.duties%>
		</h1>
		<div class="bg-tertiary absolute size-28 hidden md:flex bottom-2/3 z-0"></div>
	</div>
</div>
