<!DOCTYPE html>
<html lang="en">
	<%- include('../../commonSection/header') %>
	<body>
		<%- include('../../commonSection/navbar') %>

		<div class="flex w-full mt-16 bg-gray-100">
			<%- include('../../commonSection/drawer') %>
			<div class="flex justify-between grow px-4 gap-8">
				<div class="flex flex-col w-fit">
					<h2 class="font-semibold py-4">Feature not available</h2>
				</div>
			</div>
		</div>
	</body>
</html>
