<section id="hero">
	<div class="hero-banner">
		<video class="hero-video" autoplay muted loop preload="none" poster="poster.jpg">
			<source src="/img/sttd_intro.mp4" type="video/mp4" />
		</video>
		<h1
			class="bg-black/30 backdrop-blur-sm p-4 text-base md:text-2xl lg:text-4xl absolute bottom-5 md:bottom-10 text-white font-bold w-1/2 md:w-1/3 md:ml-4">
			<%- hero %>
		</h1>
	</div>
</section>
