<section id="homeCarousel">
	<div class="relative h-fit overflow-hidden reveal fade-right">
		<div id="innerContainer" class="flex" style="width: 400%">
			<div class="w-full h-fit">
				<img src="/img/diklat_teknik_transportasi_darat.jpeg" class="w-full h-full object-cover" />
			</div>
			<div class="w-full h-fit">
				<img src="/img/diklat_teknik_transportasi_ka.jpeg" class="w-full h-full object-cover" />
			</div>
			<div class="w-full h-fit">
				<img
					src="/img/diploma_3_manajemen_transportasi_jalan.jpeg"
					class="w-full h-full object-cover" />
			</div>
			<div class="w-full h-fit">
				<img src="/img/diploma_4_transportasi_darat.jpeg" class="w-full h-full object-cover" />
			</div>
		</div>
		<div class="flex justify-between absolute top-1/4 md:top-1/2 w-full">
			<a class="carousel-nav-btn bi bi-chevron-compact-left"></a>
			<a class="carousel-nav-btn bi bi-chevron-compact-right"></a>
		</div>
	</div>
</section>

