<div
	id="chatWidget"
	class="flex flex-col items-center w-16 h-fit bg-tertiary rounded-md fixed bottom-1/4 right-0 gap-1">
	<a href="mailto:humas@ptdisttd.ac.id" target="_blank" class="p-0 w-full rounded-md"
		><h2 class="w-full hover:text-primary text-center text-danger bi bi-envelope-at"></h2
	></a>
	<div class="w-1/2 border border-danger"></div>
	<a href="https://wa.me/6285213801872" target="_blank" class="p-0 w-full rounded-md"
		><h2 class="w-full hover:text-primary text-center text-danger bi bi-whatsapp"></h2
	></a>
</div>
