<dialog id="loadingModal" class="modal">
	<div class="modal-box p-0 text-center w-full max-w-sm flex flex-col">
		<div id="loadingInfo" class="flex flex-col px-12 py-6 gap-4 items-center">
			<p class="font-semibold">Loading...</p>
			<h1 class="loader-primary md"></h1>
		</div>
		<form id="dialog" method="dialog" class="hidden mb-4">
			<div id="modalButtonContainer" class="flex">
				<button class="action-button action-button-primary mx-auto">Close</button>
			</div>
		</form>
	</div>
</dialog>
