<a href="#" class="menu-button bi bi-three-dots p-2 hover:bg-slate-300 rounded"></a>
<div class="rows-action-menu rows-action hidden">
	<ul class="action-card">
		<li class="action-card">View</li>
		<li class="action-card">Copy Reference Link</li>
		<li class="action-card danger">Delete</li>
	</ul>
</div>
